<div class="alert alert-info">
<style>
    
</style>
*Оглавление создал вручную с помощью Markdown и HTML. Подход не лучший, но по крайней мере рабочий, а оглавление будет работать даже если у пользователя нет Nbextensions toc/2main*</div>

## TOC:
* **[Постановка задачи.](#1)**  
    * [Предисловие.](#1.1)  

* **[Ход работы.](#2)**  
    * [Структура проекта.](#2.1)  

* **[Загрузка и анализ данных источика.](#3)**  
    * [Импорты, установка компонентов для работы.](#3.1)  

* **[Extract.](#4)**  
    * [Извлечение признаков.](#4.1)  
    * [Сведение полученных признаков.](#4.2)  
    * [Сохранение датафрейма.](#4.3)  

* **[Transform.](#5)**  
    * [Решение в *Pandas.*](#5.1)  
        * [Задания 1-4](#5.1.1)  
        * [Задания 5-6](#5.1.2)  
        * [Задание 7](#5.1.3)  
        * [Задания 8-9](#5.1.4)  

    * [Решение в *SPARK.*](#5.2)  
        * [*SPARK.* Задания 1-4](#5.3)  
        * [*SPARK.* Задания 5-6](#5.4)  
        * [*SPARK.* Задание 7](#5.5)  
        * [*SPARK.* Задания 8-9](#5.6)  

* **[Load.](#6)**  
    * [Работа с базами данных.](#6.1)  

* **[Вывод.](#7)**

# <center>Анализ логов web-сайта</center>

<p style="text-align:right;">выполнил: Морозов Е.А.</p>

***

## 1. Постановка задачи. <a class="anchor" id="1"></a>

Необходимо осуществить анализ логов, создав скрипт для формирования витрины на основе логов web-сайта. Разработаный скрипт витрины данных должен иметь следующее содержание и отображать следующие данные: 

1. Суррогатный ключ устройства.
2. Название устройства.
3. Количество пользователей.
4. Доля пользователей данного устройства от общего числа пользователей.
5. Количество совершенных действий для данного устройства.
6. Доля совершенных действий с данного устройства, относительно других устройств.
7. Список из 5 самых популярных браузеров, используемых на данном устройстве различными пользователями, с указанием доли использования для данного браузера относительно остальных браузеров.
8. Количество ответов сервера, отличных от 200, на данном устройстве.
9. Для каждого из ответов сервера, отличных от 200, сформировать поле, в котором будет содержаться количество ответов данного типа.

Источник данных (логи web-сайта): https://disk.yandex.ru/d/обезличено  


***

### Предисловие.  <a class="anchor" id="1.1"></a>  

Будучи новичком в области инженерии данных, я всё ещё мало знаком с лучшими или стандартными приёмами работы над подобным заданием и в данной работе вся последовательность рабочих процессов выстраивалась самостоятельно и по наитию. Целью было попробовать применить наиболее заинтересовавшие инструменты и технологии.  

Задача, несмотря на кажущуюся банальность, заинтересовала именно возможнностью осуществить обработку ощутитмого объёма данных более или менее эффективным способом. На последнем месте работы именно отсутствие подобной возможности меня особенно удручало. В своё время, по неизвестной причине, было решено передавать данные и документировать рабочие процессы, используя "мощь" Microsoft Office Excel с макросами на VBA... Без шуток абсолютно всё, кроме бухгалтерской информации: от базы данных продукции и отгрузок, до сводной таблицы с информацией о закрытых проектах - всё находилось в нескольких перегруженных таблицах, для имитации общего доступа хранившихся на сервере. Каждый год файлы копировались и переименовывался в соотв. номер, но только предтавьте как всё это хоязйство "работало" уже в конце первого-второго месяца каждого года. 

Я ещё с детства (серьезно) полюбил табличные процессоры, но такая привязанность даже у меня вызвала неподдельное удивление, затем сменившийся катастрофическим разочарованием. Это было не просто бутылочное горлышко в рабочих процессах, а настоящая боль. Опыт работы дал понять, что поменять устоявшуюся архаичную модель не получится, поскольку были интересанты её функционирования. В конце концов рабочие отношения были расторгнуты, а для "закрытия гештальта" стало банально интересно сформировать понимание, из чего и как может быть построен правильный процесс работы с данными, особенно объёмными. Поэтому задача видится интересной именно в ретроспективе.  

***

## 2. Ход работы. <a class="anchor" id="2"></a>

В рамках учебной работы кажется логичным разбить выполнение на стадии в рамках **ETL**-процесса (в понимании автора): *extract*, *transform* и *load*.

- Загрузим и проанализируем данные.  


- На стадии **извлечения** данных обработаем файл логов с помощью регулярных выражений и методов работы со строками языка программирования ***python***. Это будет самый "нижний" слой обработки.  


- Сведём данные в пригодную для дальнейшей обработки форму - табличную, используя соотв. библиотеки (вероятнее всего не в Базы Данных, чтобы избежать проектирования и сопутствующих процессов, а в датафреймы **Pandas**/**Dusk**/**SPARK**).  


- На стадии **преобразования** ответим на вопросы задания, группируя и сортируя данные подходящим способом и выбрав нужные инструменты и, возможно, сравнив различные подходы (вероятнее всего **Pandas**, **Spark** и **SQL-запросы**).  


- На стадии **выгрузки** сформируем и сохраним полученную в результате работы скрипта витрину.  


- Составим вывод об эффективности процесса.


### 2.1. Структура проекта. <a class="anchor" id="2.1"></a>

Ниже приводятся пояснения к файловой структуре проекта:

In [1]:
# в рабочей директории создана папка для организации хранения данных проекта
print("В рабочей директории создана папка 'morozov_ea' для организации хранения данных проекта.\n")
! ls -lah ..

В рабочей директории создана папка 'morozov_ea' для организации хранения данных проекта.

total 48K
drwxr-x---  9 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 22 18:33 .
drwxr-xr-x 31 root                   root                   4.0K Dec 29 14:51 ..
-rw-r--r--  1 jupyter-morozov_evgeny jupyter-morozov_evgeny  220 Feb 25  2020 .bash_logout
-rw-r--r--  1 jupyter-morozov_evgeny jupyter-morozov_evgeny 3.7K Feb 25  2020 .bashrc
drwxr-xr-x  5 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 22 18:34 .cache
drwxrwsr-x  3 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 22 18:33 .conda
lrwxrwxrwx  1 jupyter-morozov_evgeny jupyter-morozov_evgeny   55 Dec 16 11:34 dags -> /root/data-analysis/airflow/dags/jupyter-morozov_evgeny
drwxr-xr-x  2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 16 22:19 .ipynb_checkpoints
drwxr-xr-x  3 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 16 22:25 .ipython
drwxr-xr-x  3 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 21 21:52 .jupyter
drwxr-xr-x  6 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Dec 22 18:34 .local
drwxr-xr-x  6 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  9 00:12 morozov_ea
-rw-r--r--  1 jupyter-morozov_evgeny jupyter-morozov_evgeny  807 Feb 25  2020 .profile

In [2]:
# структура проекта и файлы
print("Папка проекта содержит:\n - папку",
      "\033[1m" + "'input_data'" + "\033[0m",
      "с исходными данными задания,\n - папку",
      "\033[1m" + "'output_data'" + "\033[0m",
      "с файлами, получаемыми в ходе работы и считающимися итоговыми результатами,\n - папку",
      "\033[1m" + "'spark-warehouse'" + "\033[0m",
      ", создаваемую при работе фреймворка SPARK (подробнее в соотв. разделе исследования).\n")
!ls -lh

Папка проекта содержит:
 - папку 'input_data' с исходными данными задания,
 - папку 'output_data' с файлами, получаемыми в ходе работы и считающимися итоговыми результатами,
 - папку 'spark-warehouse' , создаваемую при работе фреймворка SPARK (подробнее в соотв. разделе исследования).

total 264K
drwxr-xr-x 3 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  7 23:10 input_data
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 251K Jan  9 00:12 morozov_ea_final_03.ipynb
drwxr-xr-x 5 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  8 23:06 output_data
drwxr-xr-x 3 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  9 00:18 spark-warehouse

In [3]:
print("рабочие файлы в 'input_data':")
! ls -lh ./input_data/

рабочие файлы в 'input_data':
total 3.4G
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 3.3G Jan  7 23:07 access-Copy1.log
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny  64M Jan  7 23:07 access-Copy1_short.log
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny  13M Dec 17 14:05 client_hostname.csv

***

## 3. Загрузка и анализ данных источика. <a class="anchor" id="3"></a>

После пояснения структуры проекта, начнём исследование.  В соответствии с заголовком загрузим и проанализируем данные в "сыром" виде.

### Импорты, установка компонентов для работы. <a class="anchor" id="3.1"></a>

In [4]:
# импортируем библиотеки:
import datetime
from datetime import datetime
import numpy as np
import pandas as pd
from random import sample
import re
from tqdm import tqdm

In [5]:
# импорты модулей Spark:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

<div class="alert alert-info">
<style>
    
</style>
<b>комментарий:</b>
<br>
валилось много варнингов `"WARNING:root:'PYARROW_IGNORE_TIMEZONE'"`, с которыми разбираться было некогда, вдобавок **os.environ** итак указывал `'PYARROW_IGNORE_TIMEZONE':'l'`, по итогу со стандартным поведением всё работало адекватно.</div>

In [6]:
# получим объект из файла
#test_file = open("../morozov_ea/input_data/access-Copy1_short.log", "r") # -обрезанная версиея логов для тестов
test_file = open("../morozov_ea/input_data/access-Copy1.log", "r")

# считываем все строки
rows = test_file.readlines()

# закрываем файл
test_file.close

print(f'Количество строк в файле логов = {len(rows):_} \n'.replace("_", " "))
print('Образец данных:\n')
for row in sample(rows, 3):
    print(row)

Количество строк в файле логов = 10 365 152

Образец данных:

5.210.199.221 - - [26/Jan/2019:19:58:43 +0330] "GET /m/filter/p62%2Cstexists HTTP/1.1" 200 19441 "https://www-zanbil-ir.cdn.ampproject.org/v/s/www.zanbil.ir/m?amp_js_v=0.1&usqp=mq331AQECAEoAQ%3D%3D" "Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-J700H Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/7.4 Chrome/59.0.3071.125 Mobile Safari/537.36" "-"

5.127.49.29 - - [22/Jan/2019:16:19:52 +0330] "GET /image/43688/productModel/200x200 HTTP/1.1" 200 4662 "https://www.zanbil.ir/m/filter/p49?page=1" "Mozilla/5.0 (Linux; Android 5.1.1; SAMSUNG SM-J320F Build/LMY47V) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/7.4 Chrome/59.0.3071.125 Mobile Safari/537.36" "-"

185.240.149.33 - - [25/Jan/2019:21:28:06 +0330] "GET /static/images/next.png HTTP/1.1" 200 3045 "https://znbl.ir/static/bundle-bundle_site_head.css" "Mozilla/5.0 (Windows NT 6.1; rv:64.0) Gecko/20100101 Firefox/64.0" "-"

Данные выглядят весьма грязными и слабоструктурированными. Можно заметить, что подходящие для анализа блоки информации есть, но они представлены в текстовом формате и чаще всего замусорены окружающими символами, скорее всего потребуется большой объём предобработки. Выделим для себя присутствие практически во всех записях информации о:
- IP-адресе с которого происходило обращение к сайту
- Временной метке события
- Кодах ответа сервера
- Записях User_Agent  

***

## 4. Extract. <a class="anchor" id="4"></a>

Из смысловых блоков, перечисленных выше, последовательно попробуем извлечь нужные данные и сохраним их в подходящем для дальнейшего анализа и преобразований виде.  

Поскольку файл логов занимает ощутимый объём (3.5 гБ слабоструктурироавнных записей), то для экономии ресурсов предполагалось последовательно обрабатывать логи по частям и дописывать их в датафрейм **Pandas** по мере завершения обработки, пока все записи из файла не оказались бы в датафрейме. Однако в ходе выполнения и отработки этапов оказалось вполне возможным обработать записи за 1 проход, чем автор и воспользовался.

In [7]:
%time
# сформируем тестовый образец для обаботки строк таблицы
#rows_sample = sample(rows, 2000000)
rows_sample = rows.copy()            # копируем данные в рабочий список, очищаем исходный rows   
rows.clear()

len(rows_sample)

CPU times: user 1e+03 ns, sys: 1e+03 ns, total: 2 µs
Wall time: 4.05 µs

10365152

### Извлечение признаков. <a class="anchor" id="4.1"></a>

Разделим строки записей по блокам, создав для этого список значений.

In [8]:
# создаём функцию для первичной очистки строк лога от лишних данных

def cleaning(rows):
    new_rows = [] # в ходе очистки строк лога будем наполнять новый список новыми записями

    for element in tqdm(rows, desc='Splitting the rows of data', colour='green'):
        element = re.split('- -|"-"|"', element.strip()) #split с использованием regular_expressions
        
        for i in range(len(element)):
            element[i] = element[i].strip() #перед добавлением в список обрезаем пробелы у каждой строки
        
        new_rows.append(element)
        
    for j in tqdm(range(len(new_rows)), desc='Deleting empties', colour='green'):
        while '' in new_rows[j]:
            new_rows[j].remove('') #для каждой записи удаляем пустые элементы
    rows.clear()
    return new_rows #функция возвращает список строк (из записей лога), строки разделёны на блоки по разделителям

# по каждой строке-объекту получим список с признаками, при дальнейшей обработке сократим количество элементов
# до необходимого кол-ва, а также обработаем сами значения
raw_data_all_features = cleaning(rows_sample)

print('Пример записи:')
for row in raw_data_all_features[:3]:
    print('\n', row)

Splitting the rows of data: 100%|██████████| 10365152/10365152 [01:22<00:00, 125357.62it/s]
Deleting empties: 100%|██████████| 10365152/10365152 [00:09<00:00, 1123350.02it/s]

Пример записи:

 ['54.36.149.41', '[22/Jan/2019:03:56:14 +0330]', 'GET /filter/27|13%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,27|%DA%A9%D9%85%D8%AA%D8%B1%20%D8%A7%D8%B2%205%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,p53 HTTP/1.1', '200 30577', 'Mozilla/5.0 (compatible; AhrefsBot/6.1; +http://ahrefs.com/robot/)']

 ['31.56.96.51', '[22/Jan/2019:03:56:16 +0330]', 'GET /image/60844/productModel/200x200 HTTP/1.1', '200 5667', 'https://www.zanbil.ir/m/filter/b113', 'Mozilla/5.0 (Linux; Android 6.0; ALE-L21 Build/HuaweiALE-L21) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.158 Mobile Safari/537.36']

 ['31.56.96.51', '[22/Jan/2019:03:56:16 +0330]', 'GET /image/61474/productModel/200x200 HTTP/1.1', '200 5379', 'https://www.zanbil.ir/m/filter/b113', 'Mozilla/5.0 (Linux; Android 6.0; ALE-L21 Build/HuaweiALE-L21) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.158 Mobile Safari/537.36']

Не все записи после "разложения" оказываются достаточно информативными. Отсеим те из них, которые несут слишком мало информации и не позволят в дальнейшем идентифицировать устройства по содержащимся данным.  

В качестве критерия качества предполагается проверять длинну получившихся строк: если в строке пропущено слишком много смысловых блоков, то надёжней отбросить такие записи из рассмотрения, чем добавлять в некую "суррогатную" категорию и усложнять дальнейший анализ. Ближайшее рассмотрение показывает, что среди таких строк содержатся как повторяющиеся целиком записи, так и совпадающие частично, но в любом случае не дающие достаточно инфомрации для дальнейшей идентификации записи и отнесения её в какую-либо категорию.

In [9]:
# создаём функцию для удаления малоинформативных записей и получаем очищенный список на выходе.

def cleaning_uninf(rows):
    drop_that_rows = []                         # пустой список для индексов строк годных для удаления
    for i in tqdm(range(len(rows)), desc='Looking data for uninformative rows', colour='green'):
        if len(rows[i]) < 5:   # принятый критерий отсеивания строк
            drop_that_rows.append(i)
    
    rows_without_dropped = []                   # список для "полезных" записей
    for i in tqdm(range(len(rows)), desc='Deleting uninformative rows', colour='green'):
        if i in drop_that_rows:
            i += 1
        else:
            rows_without_dropped.append(rows[i])
            
    print(f'Малоинформативными являются {len(drop_that_rows)} строки.')
    print(f'В полученном списке {len(rows_without_dropped)} строк')
    
    rows.clear()
    drop_that_rows.clear()
    
    return rows_without_dropped

raw_data_all_features = cleaning_uninf(raw_data_all_features)

Looking data for uninformative rows: 100%|██████████| 10365152/10365152 [00:02<00:00, 4140638.28it/s]
Deleting uninformative rows: 100%|██████████| 10365152/10365152 [16:05<00:00, 10736.63it/s]

Малоинформативными являются 14353 строки.
В полученном списке 10350799 строк

Данные пока остаются сырыми, но начало структурирования положено. Выделим целевые значения в отдельный список и последовательно приведём их к человекочитаемому формату.

In [10]:
# получим сокращённый список значений (4 признака вместо 6) для парсинга в более понятном виде 
raw_data_4f = []
for k in tqdm(range(len(raw_data_all_features))
              , desc='Creating a list with working data (4 columns istead of 6)'
              , colour='green'):
    raw_data_4f.append([
                        raw_data_all_features[k][0],
                        raw_data_all_features[k][1],
                        raw_data_all_features[k][3],
                        raw_data_all_features[k][-1]
                       ])

raw_data_all_features.clear() # очищаем список raw_data_all_features

print('Пример записи:')
for row in raw_data_4f[:2]:
    print('\n', row)

Creating a list with working data (4 columns istead of 6): 100%|██████████| 10350799/10350799 [00:21<00:00, 480765.46it/s]

Пример записи:

 ['54.36.149.41', '[22/Jan/2019:03:56:14 +0330]', '200 30577', 'Mozilla/5.0 (compatible; AhrefsBot/6.1; +http://ahrefs.com/robot/)']

 ['31.56.96.51', '[22/Jan/2019:03:56:16 +0330]', '200 5667', 'Mozilla/5.0 (Linux; Android 6.0; ALE-L21 Build/HuaweiALE-L21) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.158 Mobile Safari/537.36']

- Блок информации с IP-адресом похоже не требует обработки, в силу уникальности содержащихся в нём значений кажется, что это поле можно использовать как суррогатный ключ устройства, проверим это предположение далее.

    Выделим информацию из записи, связанной со временем события. Значение +0330 отбросим, поскольку оно везде одинаковое, в случае если оно подразумевает временную зону можно будет добавить соотв. timedelta к преобразованным значениям позже (на данном этапе было не понятно нужно или нет учитывать это).

In [11]:
# функция для обработки значений столбца с датами

def date_transformer(dates):
    dates_list = []
    for date in tqdm(dates                                   #с пом. reg.expr отделим даты от текста по шаблону
                     , desc='dates extraction'
                     , colour='green'):          
        dates_list.append(re.findall("[^'[][\w\/:]*[^\+0330\]']", date[1]))
        
    for l in tqdm(range(len(dates_list))                     #преобразуем значения в datetime и наполним список
                  , desc='converting dates to datetime-format'
                  , colour='green'):
        dates_list[l][0] = dates_list[l][0].strip()          #обрезаем пробелы вначале и вконце
        
        # с пом. методов strptime и strftime пишем в соответствие каждому элементу 2 значения:
        # - в формате datetime из строки и в более человекочитаемом виде из datetime
        dates_list[l][0] = datetime.strptime(dates_list[l][0], '%d/%b/%Y:%H:%M:%S')   
        dates_list[l].append(dates_list[l][0].strftime('%d-%m-%Y %H:%M:%S'))
        
    return dates_list                                 # функция возвращает список с преобразованными датами

# получаем список с преобразованными датами
dates_list = date_transformer(raw_data_4f)

print('Пример записи:\n')
for row in dates_list[:3]:
    print(row)

dates extraction: 100%|██████████| 10350799/10350799 [00:22<00:00, 464198.05it/s]
converting dates to datetime-format: 100%|██████████| 10350799/10350799 [01:36<00:00, 106926.65it/s]

Пример записи:

[datetime.datetime(2019, 1, 22, 3, 56, 14), '22-01-2019 03:56:14']
[datetime.datetime(2019, 1, 22, 3, 56, 16), '22-01-2019 03:56:16']
[datetime.datetime(2019, 1, 22, 3, 56, 16), '22-01-2019 03:56:16']

- Записи с кодами ответа сервера можно разделить на 2 части и очистить.

In [12]:
# функция для обработки значений столбца кодами состояния HTTP

def serv_answers(answers):
    serv_answers_list = []
    for answer in tqdm(answers
                       , desc="server's answers converting"
                       , colour='green'):              # для каждой записи разделяем ответ на 2 части:
        serv_answers_list.append(answer[2].strip().split())
        
    return serv_answers_list                           # функция возвращает список с кодами ответов сервера

# получаем список с преобразованными кодами состояния HTTP
serv_answers_list = serv_answers(raw_data_4f)

print('Пример записи:\n')
for row in serv_answers_list[:5]:
    print(row)

server's answers converting: 100%|██████████| 10350799/10350799 [00:14<00:00, 702469.67it/s]

Пример записи:

['200', '30577']
['200', '5667']
['200', '5379']
['200', '1696']
['200', '41483']

- Наибольшая часть работы по извлечению данных приходится на записи User_Agent.  
    
    Из них предстоит извлечь информацию об использовавшемся устройстве, его операционной системе и используемом браузере. Проделаем операции в несколько этапов, разделяя строку на блоки по смысловому содержанию с помощью регулярных выражений и методов работы со строками **python**.

In [13]:
# функция для предв. обработки значений столбца User_Agent

def dev_browsers(lines):
    dev_browsers_list = []
    for line in tqdm(lines
                     , desc="User_Agent info splitting into device+browser info"
                     , colour='green'):               # каждую запись разделяем на 2: инф. об устройстве и браузере
        dev_browsers_list.append([*re.findall("\(([\w\s.;:\-\/+@]+)\)", line[-1]),
                                  *re.findall("\w\) {1}([\w\/\s.]+$)", line[-1])])
        
    return dev_browsers_list                          # функция возвращает список с соотв. значениями User_Agent

# получаем список с предварительно разделёнными на 2 групппы значениями User_Agent
# пригодный для выделения искомых данных об устройстве, ОС, браузере
dev_browsers_list = dev_browsers(raw_data_4f)

print('Пример записи:\n')
for row in dev_browsers_list[:3]:
    print(row)

User_Agent info splitting into device+browser info: 100%|██████████| 10350799/10350799 [00:48<00:00, 214572.21it/s]

Пример записи:

['compatible; AhrefsBot/6.1; +http://ahrefs.com/robot/']
['Linux; Android 6.0; ALE-L21 Build/HuaweiALE-L21', 'Chrome/66.0.3359.158 Mobile Safari/537.36']
['Linux; Android 6.0; ALE-L21 Build/HuaweiALE-L21', 'Chrome/66.0.3359.158 Mobile Safari/537.36']

* Далее из этих записей выделим информацию об устройстве, ОС и браузере.  

    Логика выделения довольно условна и имеет несколько умозрительный характер, сопоставления с имеющимися в интернете базами данных для определния User_Agent в рамках учебной работы не проводилось в силу ограниченности врменных ресурсов. Судя по полученной картине, ситуация с записями User_Agent исторически сложилась весьма скверным образом: одни браузеры оформляли записи так, чтобы они выглядели как заголовки других браузеров, на стандартизированную запись о модели устройства также не приходится рассчитывать - всё это сделало задачу довольно сложной и неприятной в решении.

    В учебных целях автор пытался реализовать "упрощённую" логику парсинга: по шаблонам и ключевым словам отфильтровать и очистить записи так, чтобы полученному результату можно было сопоставить пару значений {ОС, наименование устройства}, некоторые оставшиеся исключения фильтровались по дополнительным условиям для удаления лишней информации.

    Аналогичными приёмами из второй части записи получались данные об используемом браузере (предполагается, что информацию об этом можно найти в одном из блоков с названиями браузеров в записи User_Agent).

In [14]:
# функция обработки данных из User_Agent для выделения инф. об устройстве и ОС

def os_dev(raw_list):
    dev_browsers_list_os = []                       # подготовим пустой список для сбора в него записей для  
                                                    # последующей обработки и выделения инф. об устройстве и ОС    
    for el in tqdm(raw_list, desc='creating a list of devices + OS', colour='green'):
        if el != []:
            dev_browsers_list_os.append(el[0])
        else:
            dev_browsers_list_os.append('parse_bot')
    
    os_dev_list = []                                # в итоговый список будут попадать записи на основании инф. из  
                                                    # промежуточного списка после разнообразной фильтрации
    
    # проходим в цикле по всем элементам промежуточного списка с сырыми значениями и заносим значия в новый
    for el in tqdm(dev_browsers_list_os, desc='parsing of raw devices_&_OS list', colour='green'):
        
        # ветвления и логика:
        if ('android' in el.lower()):               # сопоставление android
            if ('tablet' in el.lower()) or ('mobile' in el.lower()):
                os_dev_list.append(['android',
                                    'tablet/mobile'])
            elif ('build' in el.lower()):
                if (' wv' in el.lower()):
                    os_dev_list.append(['android',
                                        (' ').join(el.split(' build/')[0].split('; ')[-2].split(' ')[:-1])
                                        .lower().strip()])
                else:
                    os_dev_list.append(['android',
                                        (' ').join(el.split(' build/')[0].split('; ')[-1].split(' ')[:-1])
                                        .lower().strip()])
            elif ('rv:' in el.lower()):
                os_dev_list.append(['android',
                                    'tablet/mobile'])
                
            else:
                os_dev_list.append(['android',
                                    el.split('; ')[-1].lower()])

        elif ('linux' in el.lower()):    # сопоставление Linux_device
            if ('x86' in el.lower()) or ('_64' in el.lower()):
                os_dev_list.append(['linux',
                                    'x64'])
            else:
                os_dev_list.append(['linux',
                                    'smart-tv'])

        elif ('iphone' in el.lower()):   # сопоставление iPhone/iPad
            os_dev_list.append(['iOS',
                                ((' ').join(el.split('; ')[-1].split(' ')[1:4:2]).lower().strip())
                                .split('_')[0]])
            
        elif ('ipad' in el.lower()):     # сопоставление iPhone/iPad
            os_dev_list.append(['iOS',
                                ((' ').join(['ipad', el.split('CPU OS ')[1][0:5]]).lower().strip())
                                 .split('_')[0]])

        elif ('macintosh' in el.lower()):           # сопоставление macintosh
            os_dev_list.append(['macOS',
                                (' ').join(el.split('; Intel ')).lower().strip()
                                .split('_')[0]])

        elif ('windows' in el.lower()):             # сопоставление WinPC
            os_dev_list.append(['windows',
                                'x64'])

        else:
            os_dev_list.append(['parse_bot', 'parse_bot'])       # сопоставление боту
    
    os_dev_list_changed = []   #итоговый список для сбора реузльтов обработки
    
    # проходим в цикле по всем элементам полученного списка os_dev_list и правим их (по результатам анализа),
    # заполняем список os_dev_list_changed с конечными результатами
    for el in tqdm(os_dev_list, desc='secondary parsing of devices_&_OS list', colour='green'):
        
        # ветвления и логика:
        if (
            ('' in el) | ('+989389109071' in el) | ('-1' in el) | ('2014817' in el)
            | ('2014817 miui/v7.1.3.0.khjmick' in el) | ('2014817 miui/v9.2.5.0.lhjmiek' in el)
            | ('2014813 miui/v66.55.22.00.khjcncd' in el) | ('2014817 miui/v8.0.2.0.khjmidg' in el)
            | ('10' in el) | ('109v82_gq3016' in el) | ('2013' in el) | ('2014811' in el)
           ):
            os_dev_list_changed.append([el[0],'unknown_device'])

        else:
            os_dev_list_changed.append(el)
    
    dev_browsers_list_os.clear()
    os_dev_list.clear()
    
    return os_dev_list_changed                      # функция возвращает список с инф. об устройстве и ОС на осн.
                                                    # данных из User_Agent в той же последовательности


# функции обработки данных из User_Agent для выделения инф. о браузере

def browsers(raw_list):
    dev_browsers_list_br = []                       # подготовим пустой список для сбора в него записей для  
                                                    # последующей обработки и выделения инф. о браузерах    
    for el in tqdm(dev_browsers_list, desc='creating a list of browsers', colour='green'):
        if len(el) == 2:
            dev_browsers_list_br.append(el[-1])
        else:
            dev_browsers_list_br.append('parse_bot')
    
    browsers_list = []                              # в итоговый список будут попадать записи на основании инф. из  
                                                    # промежуточного списка после разнообразной фильтрации    
    # проходим в цикле по всем элементам промежуточного списка с сырыми значениями и заносим значия в новый
    for el in tqdm(dev_browsers_list_br, desc='parsing of raw browsers list', colour='green'):
        
        # ветвления и логика:
        if ('like gecko' in el.lower()):
            browsers_list.append(['IE'])              # сопоставление IE
        elif ('bing' in el.lower()):
            browsers_list.append(['Bing'])            # сопоставление Bing
        elif ('bot' in el.lower()) or ('pars' in el.lower()):
            browsers_list.append(['parse_bot'])       # сопоставление боту
        elif ('gecko/' in el.lower()):
            browsers_list.append([el.split(' ')[-1].split('/')[0]])      # сопоставление 1 браузеру
        elif ('safari' in el.lower()) and ('gsa' in el.lower()):
            browsers_list.append(['Safari'])          # сопоставление Safari на iOS-устройствах
        else:
            tmp = list(filter(None, re.split('[\/\d.\s]+', el)))         # сопоставление нескольким браузерам,
            if 'Mobile' in tmp:                                          # а также очистка промежуточного списка
                tmp.remove('Mobile')                                     # от "мусорных" записей
            if 'Version' in tmp:
                tmp.remove('Version')
            for el_tmp in tmp:
                if (0<len(el_tmp.lower())<4):
                    tmp.remove(el_tmp)
            browsers_list.append(tmp)
    
    browsers_list_changed = []   #итоговый список для сбора реузльтов обработки
    
    # проходим в цикле по всем элементам полученного списка browsers_list и правим их (по результатам анализа),
    # заполняем список browsers_list_changed с конечными результатами
    for el in tqdm(browsers_list, desc='secondary parsing of browsers list', colour='green'):
        
        # ветвления и логика:
        if (('edition' in el) | ('Edition' in el) | ('C' in el)):
            browsers_list_changed.append(['Opera'])
        elif ('compatible;' in el):
            browsers_list_changed.append(['Chrome'])
        elif ('dpi;' in el):
            browsers_list_changed.append(['Puffin'])
        elif (('AppleWebKit' in el) | ('libcurl' in el) | ('ngx_lua' in el)):
            browsers_list_changed.append(['parse_bot'])
        elif (('a' in el) | ('c' in el) | ('e' in el)):
            browsers_list_changed.append(['Safari'])
        elif (('Ubuntu' in el) | ('snap' in el)):
            browsers_list_changed.append(['Chromium'])
        elif (('1895054983' in el) | ('254054377' in el) | ('gecko' in el)):
            browsers_list_changed.append(['Firefox'])
        elif (('ggpht' in el)):
            browsers_list_changed.append(['email_client'])
        elif (('+https:' in el)):
            browsers_list_changed.append(['Google Web Snippet'])
        elif (('zanbil' in el)):
            browsers_list_changed.append(['wkhtmltoimage'])
        elif (('chromeframe' in el)):
            browsers_list_changed.append(['IE'])
        elif (('Android' in el)):
            browsers_list_changed.append(['Dolphin'])
        elif ('Baidu;' in el):
            browsers_list_changed.append(['Baidu'])
        
        else:
            browsers_list_changed.append(el)

    dev_browsers_list_br.clear()
    browsers_list.clear()
    
    return browsers_list_changed                     # функция возвращает список с инф. о браузерах на осн.
                                                     # данных из User_Agent в той же последовательности

Получим списки с данными, преобразованными функциями выше, и сведём их в итоговый список, в котором будет запись об 1 браузере на каждое устройство.

In [15]:
%time                                               # вдобавок к tqdm будем контролировать время исполнения кода

# получим списки с информацией из User_Agent в отдельные списки заносим данные об устройствах+ОС и о браузерах
os_dev_list = os_dev(dev_browsers_list)
print('Длина списка os_dev_list (ОС+устройство) =', len(os_dev_list), 'строк.')

browsers_list = browsers(dev_browsers_list)
print('Длина списка browsers_list (используемый браузер) =', len(browsers_list), 'строк.')

dev_browsers_list.clear()

# функции для отдельной сведения информации из списков с данными об устройствах/ОС/браузерах в единый список

def dev_os_br_union(os_dev_list, dev_browsers_list):
    united_list = []                                # подготовим пустой список для сбора записей
    
    # проходим в цикле по всем элементам списков, созданных выше (os_dev_list, browsers_list)
    # и заносим значия в итоговый чтобы 1 устройству соответствовал 1 браузер исходя из простой логики
    for i in tqdm(range(len(os_dev_list)), desc='creating of united device/OS/browser list', colour='green'):
        
        # ветвления и логика:
        if len(dev_browsers_list[i]) > 1:
            united_list.append([*os_dev_list[i], dev_browsers_list[i][0]])
        else:
            united_list.append([*os_dev_list[i], *dev_browsers_list[i]])
            
    return united_list                              # функция возвращает список с общей информацией с записями в
                                                    # той же последовательности что была в User_Agent

# получим список с информацией об устройствах+ОС и о браузерах в одной записи
united_usag_list = dev_os_br_union(os_dev_list, browsers_list)

os_dev_list.clear()
browsers_list.clear()

print('Пример записи:\n')
for row in united_usag_list[:5]:
    print(row)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.48 µs

creating a list of devices + OS: 100%|██████████| 10350799/10350799 [00:02<00:00, 3731730.27it/s]
parsing of raw devices_&_OS list: 100%|██████████| 10350799/10350799 [00:18<00:00, 555351.15it/s]
secondary parsing of devices_&_OS list: 100%|██████████| 10350799/10350799 [00:06<00:00, 1700363.94it/s]

Длина списка os_dev_list (ОС+устройство) = 10350799 строк.

creating a list of browsers: 100%|██████████| 10350799/10350799 [00:02<00:00, 3545831.72it/s]
parsing of raw browsers list: 100%|██████████| 10350799/10350799 [00:34<00:00, 303134.47it/s]
secondary parsing of browsers list: 100%|██████████| 10350799/10350799 [00:08<00:00, 1180266.43it/s]

Длина списка browsers_list (используемый браузер) = 10350799 строк.

creating of united device/OS/browser list: 100%|██████████| 10350799/10350799 [00:17<00:00, 585242.45it/s]

Пример записи:

['parse_bot', 'parse_bot', 'parse_bot']
['android', 'ale-l21', 'Chrome']
['android', 'ale-l21', 'Chrome']
['parse_bot', 'parse_bot', 'parse_bot']
['windows', 'x64', 'parse_bot']

### Сведение полученных признаков. <a class="anchor" id="4.2"></a>

Предварительная обработка закончена, не везде результаты парсинга получились "аккуратными", но для учебных целей итог, кажется, можно считать достаточным. Дальнейшая подготовка заняла бы чрезмерное время, остановимся на достигнутом результате.

- Далее подготовим и сведём всю иформацию в датафрейм **Pandas**.  

    В целом, на вопросы задания можно ответить, пользуясь лишь этой библиотекой для обработки, но в силу того, что курс старался привить студентам навыки инженера данных, **Pandas** будет использоваться как эффективное, но не конечное звено в обработке, подрбнее о причинах и альтенативах выбора сказано ниже.
    
    Данные в виде Pandas.DataFrame будет удобно:

    1. обрабатывать как непосредственно методами самой библиотеки **Pandas**,  

    2. так и транслировать данные из него в иные форматы для обработки вне библиотеки **Pandas**. Это будет логично, если данные, скажем:  

        - не помещаются в оперативную память компьютера, и требуется обработка на кластере (что может быть эффективнее, чем на локальной "машине", хоть и требует иного инструментария),
        - или же иной формат предполагатеся более практичным или устойчивым в "промышленном" применении,  
    
    3. трансформацию и преобразование данных предполагается осуществлять с пом. фреймворка **Spark**, а в него с версии 3.2 внедрены методы **Pandas** на уровне API, что скорее всего будет способствовать удобству работы с имеющимся датафреймом.  
    
    4. Вдобавок к этому **Spark** предлагает лаконичную форму работы как с **Hive SQL** (т.е. БД будет возможно хранить в распределённом виде), так и простоту подключения к БД **PostgreSQL**, что также предположительно может сократить путь до выгрузки итоговой витрины.

Прежде, чем создать датафрейм **Pandas**, подготовим словарь с необходимыми данными в виде полученных выше списков значений.

In [16]:
# интересующие нас значения хранятся в списках ниже, составим из них словарь:
'''
ip_addr_list   # -этот список создаётся в коде ниже
dates_list
serv_answers_list
united_usag_list
'''

# список с IP-адресами предполагается использовать в качестве суррогатного ключа,
# сделаем его значения более похожими на ключи - преобразуем адрес и одно число:
ip_addr_list = [('').join(el[0].split('.')).strip() for el in tqdm(raw_data_4f
                                                                   , desc = 'collecting from ip_addr_list'
                                                                   , colour = 'YELLOW')]

# некоторая обработка потребуется и для значений списков, хранящих по несколько элементов
# в строках в виде вложенных списков, получим из них отдельные столбцы значений:
date = [el[0] for el in tqdm(dates_list
                             , desc = 'collecting from date_list'
                             , colour = 'YELLOW')]

serv_answer_1 = [el[0] for el in tqdm(serv_answers_list
                                      , desc = 'collecting from serv_answer_1_list'
                                      , colour = 'YELLOW')]
serv_answer_2 = [el[1] for el in tqdm(serv_answers_list
                                      , desc = 'collecting from serv_answer_2_list'
                                      , colour = 'YELLOW')]

device = [el[1] for el in tqdm(united_usag_list
                               , desc = 'collecting from device_list'
                               , colour = 'YELLOW')]
os = [el[0] for el in tqdm(united_usag_list
                           , desc = 'collecting from os_list'
                           , colour = 'YELLOW')]
browser = [el[-1] for el in tqdm(united_usag_list
                                 , desc = 'collecting from browser_list'
                                 , colour = 'YELLOW')]

# сводим всё в словарь для создания датафрейма Pandas
data_dict = {
    'addr' : ip_addr_list,
    'date' : date,
    'serv_answer_1' : serv_answer_1,
    'serv_answer_2' : serv_answer_2,
    'device' : device,
    'os' : os,
    'browser' : browser
}

# создаём dataframe
df = pd.DataFrame(data = data_dict)

# исправим форматы данных на числовые для колонок 'addr', 'serv_answer_1', 'serv_answer_2'
for i in tqdm([0, 2, 3], desc = 'converting data formats', colour = 'green'):
    df[df.columns[i]] = pd.to_numeric(df[df.columns[i]], errors='raise', downcast=None)
    #df[df.columns[i]] = df[df.columns[i]].astype('int') - либо так

# выведем информацию о таблице и первые 5 строк полученного датафрейма:
print('Описание данных и первые 5 строк полученного датафрейма:\n')
df.info()
df.head()

collecting from ip_addr_list: 100%|██████████| 10350799/10350799 [00:04<00:00, 2207416.30it/s]
collecting from date_list: 100%|██████████| 10350799/10350799 [00:02<00:00, 5087080.65it/s]
collecting from serv_answer_1_list: 100%|██████████| 10350799/10350799 [00:01<00:00, 5187492.88it/s]
collecting from serv_answer_2_list: 100%|██████████| 10350799/10350799 [00:01<00:00, 5322285.32it/s]
collecting from device_list: 100%|██████████| 10350799/10350799 [00:01<00:00, 5620854.07it/s]
collecting from os_list: 100%|██████████| 10350799/10350799 [00:01<00:00, 5985918.96it/s]
collecting from browser_list: 100%|██████████| 10350799/10350799 [00:01<00:00, 5276965.55it/s]
converting data formats: 100%|██████████| 3/3 [00:17<00:00,  5.75s/it]

Описание данных и первые 5 строк полученного датафрейма:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10350799 entries, 0 to 10350798
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   addr           int64
 1   date           datetime64[ns]
 2   serv_answer_1  int64
 3   serv_answer_2  int64
 4   device         object
 5   os             object
 6   browser        object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 552.8+ MB

,addr,date,serv_answer_1,serv_answer_2,device,os,browser
0,543614941,2019-01-22 03:56:14,200,30577,parse_bot,parse_bot,parse_bot
1,31569651,2019-01-22 03:56:16,200,5667,ale-l21,android,Chrome
2,31569651,2019-01-22 03:56:16,200,5379,ale-l21,android,Chrome
3,4077167129,2019-01-22 03:56:17,200,1696,parse_bot,parse_bot,parse_bot
4,91997215,2019-01-22 03:56:17,200,41483,x64,windows,parse_bot

По условию задания необходимо добавить суррогатные уникальные ключи к устройствам, с которых осуществлялся запрос, также предполагалось использовать IP-адрес в качестве такого ключа при подходящей возможности. Проверим, подойдут ли для этого какие-нибудь столбцы датафрейма.

In [17]:
for el in ['addr', 'device', 'os']:
    print(f'Кол-во уникальных значений в столбце df["{el}"] = {len(df[el].unique())}')

Кол-во уникальных значений в столбце df["addr"] = 257702
Кол-во уникальных значений в столбце df["device"] = 3379
Кол-во уникальных значений в столбце df["os"] = 6

Дополнительно сгруппируем данные по перечисленным выше столбцам и посчитаем кол-во записей.

In [18]:
(
df.groupby(by = ['addr', 'device', 'os'])['device']
    .count()
    .sort_values(ascending = False)
    .sort_index(level = 'device')
)

addr          device     os
51219136      2pq93      android      1
315676189     2pyb2      android    164
51131253      4035d      android     19
5113247247    4035d      android     20
51211230      5047d      android      2
                                   ...
2181146236    zuk z2131  android     37
5119169104    zuk z2131  android      2
19518117325   zuk z2131  android      1
151232238181  zuk z2131  android     91
5106122168    zuk z2151  android     36
Name: device, Length: 281664, dtype: int64

Очевидно, что есть повторяющиеся значения и использовать встроенный индекс dataframe в качестве уник. ключей будет неверно. По сути уникальность записи определяется комбинацией полей {устройство; ОС}, ведь и IP-адрес и браузер при этом могут меняться. Сформируем суррогатные ключи для соотв. записей на основании указанных полей {устройство; ОС}.

In [19]:
# получим индекс по уникальным сочетаниям полей 'device' и 'os' для чего сгруппируем
# данные и сбросим индекс, чтобы получить столбец с ключами из значений индекса pd.Series 

index = (
    df
    .groupby(by = ['device', 'os'])['addr']
    .count()
    .sort_index(level = ['device', 'os'])
    .reset_index()
    .reset_index()
    .drop(columns = 'addr')
)

index.tail(5)

      index              device       os
3376   3376  zte grand s ii lte  android
3377   3377              zuk z1  android
3378   3378           zuk z2121  android
3379   3379           zuk z2131  android
3380   3380           zuk z2151  android

In [20]:
# объединим таблицы df и index по полям 'device' и 'os' чтобы добавить поле с ключами к df
# удалять поле 'addr' не станем, т.к. оно позволит выделять разных пользователей устройств

df = (
    df
    .merge(index
           , how = 'left'
           , suffixes = ('', '_index')
           , left_on = ['device', 'os']
           , right_on = ['device', 'os'])
)

# переименуем столбцы 'index' в 'dev_key' и 'addr' в 'user_id'
df.rename(columns = {'index':'dev_key', 'addr':'user_id'}, inplace=True)
print('Таблица приняла следующий вид:')
df.head(3)

Таблица приняла следующий вид:

,user_id,date,serv_answer_1,serv_answer_2,device,os,browser,dev_key
0,543614941,2019-01-22 03:56:14,200,30577,parse_bot,parse_bot,parse_bot,1882
1,31569651,2019-01-22 03:56:16,200,5667,ale-l21,android,Chrome,76
2,31569651,2019-01-22 03:56:16,200,5379,ale-l21,android,Chrome,76

Полученная таблица приняла вид достаточный для дальнейшего анализа и постороения витрины данных. Удалять поле 'addr' с изменённым IP-адресом, с которого отправлялся запрос к сайту, не станем, поскольку оно в моём понимании позволит выделять разных пользователей в случае, если бы они использовали устройства одинаковых моделей. Будем считать, что IP-адреса характеризуют сессии разных пользователей. Поменяем названия на более понятные.  

### Сохранение датафрейма.  <a class="anchor" id="4.3"></a>


На данном этапе появляется возможность сохраниь полученный датафрейм в формате, желаемом  для обработки на последующих стадиях создания витрины данных. Предполагается, что форматы **AVRO**, **Parquet** или **ORC** более предпочтительны нежели **CSV**, поскольку являются колоночными, поддерживают сжатие, встраивание схемы данных и приспособлены для распределённого хранения. Выполним эту операцию в учебных целях, а в ходе дальнейшей работы обращаться можно будет как к полученному файлу, так и к переменной ***df***, хранящей pandas.DataFrame.

In [21]:
%time

# сохраним датафрейм в формате parque и откроем его 
# (для проверки свойств полученного файла: скорость загрузки, форматы данных, схема, занимаемый объём памяти)

df.to_parquet(path='../morozov_ea/output_data/parsed_logs_df.parquet', index=None)

df_parquet = pd.read_parquet('../morozov_ea/output_data/parsed_logs_df.parquet')

print(df_parquet.info())
df_parquet.head(3)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10350799 entries, 0 to 10350798
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   date           datetime64[ns]
 2   serv_answer_1  int64
 3   serv_answer_2  int64
 4   device         object
 5   os             object
 6   browser        object
 7   dev_key        int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 710.7+ MB
None

,user_id,date,serv_answer_1,serv_answer_2,device,os,browser,dev_key
0,543614941,2019-01-22 03:56:14,200,30577,parse_bot,parse_bot,parse_bot,1882
1,31569651,2019-01-22 03:56:16,200,5667,ale-l21,android,Chrome,76
2,31569651,2019-01-22 03:56:16,200,5379,ale-l21,android,Chrome,76

***

## 5. Transform. <a class="anchor" id="5"></a>

Ответы на вопросы задания получим в несколько этапов: как с использованием кластерных вычислений так и в локальном режиме (во время разработки пользовался сокращённой выборкой, которая в память одной машины вполне помещалась, соответственно этот абзац писался до получения решения на полном датафрейме).

### 5.1. Решение в Pandas.  <a class="anchor" id="5.1"></a>

Для ориентира получим ответы на вопросы задания с использованием библиотеки **Pandas**, затем будем использовать их для сравнения с результатами во фреймворке **Spark**. Формулировки заданий не везде можно было понять однозначно, буду пояснять своё трактование параллельно с предпринимаемыми действиями.  

***

#### *пункты 1-4*  <a class="anchor" id="5.1.1"></a>  

- Выведем сперва:  

    ***1.*** *Суррогатный ключ устройства.*  
    ***2.*** *Название устройства.*  
    ***3.*** *Количество пользователей.*  
    ***4.*** *Доля пользователей данного устройства от общего числа пользователей.*  

По принятому предположению в качестве уникальных пользователей считаются непоторяющиеся записи {'user_id', 'device'}, сгруппируем данные по этим полям и дате запроса и подсчитаем количества вхождений.

In [22]:
pd.DataFrame(df.groupby(['dev_key', 'user_id', 'date']).count()['serv_answer_2']).tail(15)

                                          serv_answer_2
dev_key user_id      date
3379    151232238181 2019-01-22 22:26:20              2
                     2019-01-22 22:26:22              4
                     2019-01-22 22:26:32              1
                     2019-01-22 22:26:38              2
                     2019-01-22 22:26:39              3
                     2019-01-22 22:26:41              1
                     2019-01-22 22:26:42              6
3380    5106122168   2019-01-24 00:59:29              1
                     2019-01-24 00:59:31             11
                     2019-01-24 00:59:32              4
                     2019-01-24 00:59:33              8
                     2019-01-24 00:59:34              5
                     2019-01-24 00:59:37              3
                     2019-01-24 00:59:38              1
                     2019-01-24 00:59:44              3

Видно, что запросы к сайту приходили как от пользователей с "человеческим" поведением, так и из других источников (в общем случае обозначаемых как "parse_bot"), единичные обращения то имеют временной интревал между собой, то следуют сразу пакетами. Тем не менее, в качестве отдельных пользователей стоит считать именно запросы с разных устройств с различающимся 'user_id', их будет больше, чем отдельных записей 'user_id', подсчитаем такие сочетания.

In [23]:
# кол-во строк в группе, т.е. кол-во запросов с разных устройств с разным user_id
unique_users_qty = len(df.groupby(['dev_key', 'user_id']))

# датафрейм по п.1-4
df_1_4 = (
    df
    .groupby(['dev_key', 'device', 'user_id'])
    .any()['serv_answer_2']
    .reset_index()
    .groupby('dev_key')
    .agg({'device':'first', 'user_id':'count'})
    .rename(columns={'user_id':'users_qty'})
)

df_1_4['users_ratio'] = np.round((df_1_4['users_qty'] / unique_users_qty), 5)
df_1_4

                     device  users_qty  users_ratio
dev_key
0                     2pq93          1      0.00000
1                     2pyb2          1      0.00000
2                     4035d          2      0.00001
3                     5047d          6      0.00002
4                     5049w          1      0.00000
...                     ...        ...          ...
3376     zte grand s ii lte          4      0.00001
3377                 zuk z1          4      0.00001
3378              zuk z2121         15      0.00005
3379              zuk z2131          9      0.00003
3380              zuk z2151          1      0.00000

[3381 rows x 3 columns]

***

#### *пункты 5-6*  <a class="anchor" id="5.1.2"></a>  

- Сгруппируем данные и дополним витрину информацией о (cуррогатный ключ и название устройства также остаются актуальными):  

    ***5.*** *Количество совершенных действий для данного устройства.*  
    ***6.*** *Доля совершенных действий с данного устройства, относительно других устройств.*  
   
    
Аналогично предыдущему предположению, уникальми дейсвтиями будем считать непоторяющиеся варианты кодов в полях {'serv_answer_1', 'serv_answer_2'} для разных устройств, сгруппируем данные по этим полям и дате запроса для всех упомянутых устройств и подсчитаем количества вхождений.

In [24]:
pd.DataFrame(df.groupby(['dev_key', 'serv_answer_1', 'serv_answer_2', 'date']).count()['user_id'])[10:20]

                                                         user_id
dev_key serv_answer_1 serv_answer_2 date
1       200           2542          2019-01-24 17:45:08        1
                      2749          2019-01-24 17:44:05        1
                      2784          2019-01-24 17:34:46        1
                      2885          2019-01-24 17:34:14        1
                      2967          2019-01-24 17:41:37        1
                      2975          2019-01-24 17:34:13        1
                      2986          2019-01-24 17:34:36        1
                      2987          2019-01-24 17:27:32        1
                      3038          2019-01-24 17:42:31        1
                      3047          2019-01-24 17:33:14        1

Судя по полученным значениям столбцов (с добавлением дат), обращения к сайту вполне могли осуществляться в разные даты, с разных адресов ('user_id' в нашем случае) и из разных бразуеров, получая, однако, одни и теже коды ответов сервера.  

Поскольку в данном задании речь шла именно об отношении "устройство-действие", а не "устройство-пользователь-действие" или более подробном, то под "дейсвтием" будем понимать упомянутые выше непоторяющиеся варианты кодов в полях {'serv_answer_1', 'serv_answer_2'} для устройств с различающимся 'dev_key'. 

Получающаяся величина может трактоваться как возможные на данном устройстве варианты ответов сервера: но не суммарное количество запросов, а именно количество комбинаций - т.е. некоторые устройства в этом смысле могут обладать широким диапазоном действий, а некоторые - отправлять только считанное число запросов. Подсчитаем такие сочетания.

In [25]:
# кол-во строк в группе, т.е. кол-во ответов сервера с различными 'serv_answer_1' и 'serv_answer_2'
unique_answers_qty = len(df.groupby(['dev_key', 'serv_answer_1', 'serv_answer_2']))

# датафрейм по п.5-6
df_5_6 = (
    df
    .groupby(['dev_key', 'device', 'serv_answer_1', 'serv_answer_2'])
    .any()['user_id']
    .reset_index()
    .groupby('dev_key')
    .agg({'device':'first', 'serv_answer_2':'count'})
    .rename(columns={'serv_answer_2':'answers_qty'})
)

df_5_6['answers_ratio'] = np.round((df_5_6['answers_qty'] / unique_answers_qty), 6)
df_5_6

                     device  answers_qty  answers_ratio
dev_key
0                     2pq93            1       0.000001
1                     2pyb2          139       0.000108
2                     4035d           26       0.000020
3                     5047d           83       0.000064
4                     5049w          137       0.000106
...                     ...          ...            ...
3376     zte grand s ii lte            4       0.000003
3377                 zuk z1           72       0.000056
3378              zuk z2121          103       0.000080
3379              zuk z2131          205       0.000159
3380              zuk z2151           36       0.000028

[3381 rows x 3 columns]

***

#### *пункт 7*  <a class="anchor" id="5.1.3"></a>  

- Ещё раз сгруппируем данные и дополним витрину (cуррогатный ключ и название устройства также остаются актуальными) данными о браузерах:

    ***7.*** *Список из 5 самых популярных браузеров, используемых на данном устройстве различными пользователями, с указанием доли использования для данного браузера относительно остальных браузеров.*
    
Из строки со сведениями User_agent парсились данные только по наименованию браузера (без номеров версий), а также в соотв. случаях добавлялись записи вида "parse_bot", поэтому список самых полулярных браузеров для каждой модели устройств далеко не всегда будет состоять из 5 записей. Сгруппируем данные по полям 'dev_key' и 'browser', для исключения повторных названий поле 'user_id' добавлять в группировку не станем. Браузер всегда использовался с тем или иным 'user_id' и популярность можно сравнить по подсчёту количества вошедших записей без более глубокого разделения. 

Задание было несколько изменено: предлагается наряду с моделью и наименованием популярных на этом устройстве браузеров, выводить по кадому из них:
- количество использований (штук на данном устройстве),
- долю их применения от общего количества использований браузеров на данном устройстве,
- а также долю использования данного браузера от общего кол-ва применений.

In [26]:
# датафрейм по п.7
df_7 = (
    pd.DataFrame(
        df
        .groupby(['dev_key', 'device', 'browser'])
        .count()['date']
        )
)

# дополнения (временные таблицы) для слияния с df_7 и получения расчётных величин
df_7_br_tot = df_7.copy().reset_index().groupby('browser').agg({'date':'sum'})             #группир-ка по браузеру    
df_7_br_tot['ratio_total'] = np.round(df_7_br_tot['daскринte'] / df_7_br_tot['date'].sum(), 5)  #расчёт доли от общего

df_7_br_by_dev = df_7.copy().reset_index().groupby('dev_key').sum()                        #группир-ка по устр-ву
                                                                                           #расчёт кол-ва применений
# объединения таблиц
df_7 = df_7.merge(df_7_br_by_dev, how='left', left_index=True, right_index=True)
df_7['ratio_by_device'] = np.round(df_7['date_x'] / df_7['date_y'], 3)
df_7 = df_7.merge(df_7_br_tot, how='left', left_index=True, right_index=True)

# удаление лишних столбцов, переименование
df_7.drop(columns = ['date_y', 'date'], inplace = True)
df_7.rename(columns = {'date_x' : 'usage_qty'}, inplace = True)
df_7.head()

/tmp/ipykernel_3466686/952812859.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_7_br_by_dev = df_7.copy().reset_index().groupby('dev_key').sum()                        #группир-ка по устр-ву

                          usage_qty  ratio_by_device  ratio_total
dev_key device browser
0       2pq93  Chrome             1            1.000      0.48032
1       2pyb2  Chrome           160            0.976      0.48032
               parse_bot          4            0.024      0.15273
2       4035d  Chrome            39            1.000      0.48032
3       5047d  Chrome            84            0.840      0.48032

***

#### *пункты 8-9*  <a class="anchor" id="5.1.4"></a>  

- Дополним витрину (cуррогатный ключ и название устройства также остаются актуальными) данными об ответах сервера: 

    ***8.*** *Количество ответов сервера, отличных от 200, на данном устройстве.*  
    ***9.*** *Для каждого из ответов сервера, отличных от 200, сформировать поле, в котором будет содержаться количество ответов данного типа.*  
    
В данном вопросе достаточно будет сгруппировать датафрейм по ключам 'dev_key' и 'serv_answer_1' для строк, в которых значение ответа не равно 200, а также поститать такие вхождения.

In [27]:
# датафрейм для п.8-9 без строк с отвтеом 200
df_8_9 = (
    pd.DataFrame(
        df
        .loc[df.loc[:, 'serv_answer_1'] != 200, :]
        .groupby(['dev_key', 'device', 'serv_answer_1'])
        .count()['serv_answer_2']
    ).rename(columns = {'serv_answer_2' : 'not200_answers_qty'})
)

# добавляем столбец с суммарным кол-вом ответов, отличных от 200 + transform для распространения на все строки    
df_8_9['not200_sum_by_device'] = df_8_9.groupby(level = 'dev_key').transform('sum')

# меняем порядок следования столбцов
df_8_9 = df_8_9.reindex(columns = ['not200_sum_by_device', 'not200_answers_qty'])
df_8_9

                                 not200_sum_by_device  not200_answers_qty
dev_key device    serv_answer_1
1       2pyb2     302                               2                   2
2       4035d     302                               8                   8
3       5047d     302                               2                   2
4       5049w     301                               2                   1
                  302                               2                   1
...                                               ...                 ...
3377    zuk z1    404                              11                   3
                  499                              11                   1
3378    zuk z2121 302                               4                   4
3379    zuk z2131 302                               7                   5
                  499                               7                   2

[4794 rows x 2 columns]

В целях унификации можно объединить ответы п.1-6, но датафреймы п.7 и п.8-9 получились не столь подобными, их имеет смысл рассматривать отдельно.

In [28]:
# витрина по пунктам 1-6 задания
df_1_6 = (
    df_1_4
    .merge(df_5_6
           , how='left'
           , left_index = True
           , right_index = True
           , suffixes = ('','_right'))
    .drop(columns = ['device_right'])
)

df_1_6.head()

        device  users_qty  users_ratio  answers_qty  answers_ratio
dev_key
0        2pq93          1      0.00000            1       0.000001
1        2pyb2          1      0.00000          139       0.000108
2        4035d          2      0.00001           26       0.000020
3        5047d          6      0.00002           83       0.000064
4        5049w          1      0.00000          137       0.000106

In [29]:
# витрина по пункту 7 задания
df_7.head()

                          usage_qty  ratio_by_device  ratio_total
dev_key device browser
0       2pq93  Chrome             1            1.000      0.48032
1       2pyb2  Chrome           160            0.976      0.48032
               parse_bot          4            0.024      0.15273
2       4035d  Chrome            39            1.000      0.48032
3       5047d  Chrome            84            0.840      0.48032

In [30]:
# витрина по пунктам 8-9 задания
df_8_9.head()

                              not200_sum_by_device  not200_answers_qty
dev_key device serv_answer_1
1       2pyb2  302                               2                   2
2       4035d  302                               8                   8
3       5047d  302                               2                   2
4       5049w  301                               2                   1
               302                               2                   1

Решение получено с помощью **pandas** не только потому, что этот инструмент удобен и по-своему эффективен (пока что в силу "бесшовности" перехода от low-level обработки на Python к абстракциям в виде pandas.DataFrame, чтобы избежать преобразований в SQL-базу данных), но и с целью продолжить использование библиотеки на дальнейших стадиях выстраиваемого pipeline обработки данных.  

Выгружать из памяти полученные таблицы не станем, поскольку их вызов может понадобится при написании кода в **Spark** для сравнения и трансляции методов. Сохранять результаты в том или ином формате для отображения их в качестве промежуточного решения на "голом" **pandas** также пока не станем, поскольку задачи строгой экономии ресурсов не стоит.  

***

### 5.2. Решение в Spark.  <a class="anchor" id="5.2"></a>  

Для курса по инженерии данных представляется логичным воспользоваться иными инструментами data engeneer: в первую очередь инструментами стэка для работы с параллельными вычислениями и распределёнными данными, - и перенести решение на эту платформу.  

Первейшим из таких инструментов выглядит использование фреймворка **Apache Spark**. 

Предполагается достичь этим нескольких целей:  

- во время выполнения учебных заданий **Spark** показался довольно удобным "мостом" для трансляции табличных данных в традиционые реляционные базы данных и возможностью обработки данных с использованием SQL, не используя при этом промежуточные этапы в виде запросов через **Pandas**+**SQLAlchemy**/**psycopg2** и т.п.


- вторым иснтересным аспектом работы в **Spark**, смежным с указанным выше, показалась возможность доступа к распределённому хранилищу метаданных **Hive** с использованием соответствующего языка запросов **HiveQL**.  
  
  Подобным преимуществом хотелось бы воспользоваться, для того, чтобы не только обработка данных была распреденной, но также и запись и доступ к данным могли бы выполняться в распределенном виде и использовать преимущества HDFS.  
 

- в состав **API Spark** в свежих версиях было включено **API Pandas** именно на уровне **Structured API**, что должно позволить относительно просто использовать код решений, приведённый выше, и работать знакомыми методах не теряя в быстродействии, а также сделать какие-то сравнения с SparkSQL и pySpark.
  
  Это довольно интересно, поскольку одним из столпов **Pandas** является использование индексов в DataFrame, тогда как в **Spark** подобная "механика" не использовалась, но очевидно была перенесена в кластерную парадигму.

Ниже предпринимается попытка реализации описанной выше логики.

In [31]:
# создаём Spark-сессию 
# (часто при первом запуске вылетал с ошибкой, вдобавок хотелось думать, что можно запуститься на кластере
# поэтому методом тыка была отработана техника для входа сначала c master("local"), а потом c "yarn")

for mode in ['local', 'yarn']: 
    print('mode --- ', mode)
    spark = (
        SparkSession
        .builder
        .master(mode)
        .appName("spark_pandas")
        .getOrCreate()
    )

# проверка работоспособности
spark.sql('select "spark" as hello').show()

mode ---  local
23/01/09 00:44:43 WARN Utils: Your hostname, data-analysis resolves to a loopback address: 127.0.1.1; using 146.120.224.166 instead (on interface ens160)
23/01/09 00:44:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/09 00:44:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
mode ---  yarn
23/01/09 00:44:46 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
+-----+
|hello|
+-----+
|spark|
+-----+

In [32]:
spark

Загрузка и сохранение файлов в **Spark** осуществляются в виде вызовов методов объекта `spark`:
- ***`.read` -- `.format()` -- `.option()` -- `.load()`*** --> для чтения
- ***`.write` -- `.format()` -- `.mode()` -- `.option()` -- `.save()`*** --> для записи

Из прежде сохранённого в формате "parquet" файла загрузим датафрейм, схема должна считаться автоматически.

In [33]:
df = (
    spark
    .read
    .format('parquet')
    #.option("'path', '../... или file://....') # путь можно указать в .option()
    .load('../morozov_ea/output_data/parsed_logs_df.parquet')
)

# выведем схему датафрейма и посмотрим тип объекта
df.printSchema()
type(df)

root
 |-- user_id: long (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- serv_answer_1: long (nullable = true)
 |-- serv_answer_2: long (nullable = true)
 |-- device: string (nullable = true)
 |-- os: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- dev_key: long (nullable = true)
 |-- __index_level_0__: long (nullable = true)

pyspark.sql.dataframe.DataFrame

In [34]:
# конвертируем pyspark.sql.dataframe.DataFrame в датафрейм pandas-API и изменим название индекса
pds_df = df.pandas_api(index_col='__index_level_0__')
pds_df.index.rename('index', inplace= True)
display(pds_df.head(3))
type(pds_df)

/opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

         user_id                date  serv_answer_1  serv_answer_2     device         os    browser  dev_key
index
0      543614941 2019-01-22 03:56:14            200          30577  parse_bot  parse_bot  parse_bot     1882
1       31569651 2019-01-22 03:56:16            200           5667    ale-l21    android     Chrome       76
2       31569651 2019-01-22 03:56:16            200           5379    ale-l21    android     Chrome       76

pyspark.pandas.frame.DataFrame

In [35]:
# выведем схему и план исполнения датафрейма pandas 
pds_df.spark.print_schema()
pds_df.spark.explain()

root
 |-- user_id: long (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- serv_answer_1: long (nullable = true)
 |-- serv_answer_2: long (nullable = true)
 |-- device: string (nullable = true)
 |-- os: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- dev_key: long (nullable = true)

== Physical Plan ==
*(1) Project [__index_level_0__#15L, user_id#7L, date#8, serv_answer_1#9L, serv_answer_2#10L, device#11, os#12, browser#13, dev_key#14L]
+- *(1) ColumnarToRow
   +- FileScan parquet [user_id#7L,date#8,serv_answer_1#9L,serv_answer_2#10L,device#11,os#12,browser#13,dev_key#14L,__index_level_0__#15L] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/jupyter-morozov_evgeny/morozov_ea/output_data/parsed_logs_d..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<user_id:bigint,date:timestamp,serv_answer_1:bigint,serv_answer_2:bigint,device:string,os:s...

Разработчики изменили названия некоторых методов, к примеру `.to_pandas_on_spark()` стал более коротким `.pandas_api()`, но по-прежнему удивляет количество перенесенных методов **pandas** в **Spark**. При переименовании колонки индекса работает даже атрибут `inplace`, а отображаемый выше датафрейм при всех изменениях остётся pyspark-объектом. Судя по всему, для работы в кластере с объектами Pandas-API достаточно указать индекс, без этого датафрейм при обработке не будет покидать память одной из машин кластера (предположение). 

Сравним, как решается задание в **Pandas-API** и более классичекими методами **Spark**.

***

###  Задания 1-4. <a class="anchor" id="5.3"></a>  

#### --- *Pandas API* ---

- Выведем:  

    ***1.*** *Суррогатный ключ устройства.*  
    ***2.*** *Название устройства.*  
    ***3.*** *Количество пользователей.*  
    ***4.*** *Доля пользователей данного устройства от общего числа пользователей.*  

В разделе выше задача решалась следующим образом: для уникальных пользователей с непоторяющимися записями {'user_id', 'device'} производилась группировка данных и подсчитывались количества вхождений.

In [36]:
# кол-во запросов с разных устройств с разным user_id
unique_users_qty = pds_df.groupby(['dev_key', 'user_id']).count().count()[0]

# датафрейм по п.1-4
pds_df_1_4 = (
    pds_df
    .groupby(['dev_key', 'device', 'user_id'])
    .any()['serv_answer_2']
    .reset_index()
    .groupby('dev_key')
    .agg({'device':'first', 'user_id':'count'})
    .rename(columns={'user_id':'users_qty'})
)

pds_df_1_4['users_ratio_1'] = unique_users_qty
pds_df_1_4['users_ratio'] = pds_df_1_4['users_qty'] / pds_df_1_4['users_ratio_1']
pds_df_1_4 = pds_df_1_4.drop(columns = 'users_ratio_1')
pds_df_1_4.head(20)

/opt/tljh/user/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

         device  users_qty  users_ratio
dev_key
0         2pq93          1     0.000004
1         2pyb2          1     0.000004
2         4035d          2     0.000007
3         5047d          6     0.000021
4         5049w          1     0.000004
5          5050          4     0.000014
6         5050x          1     0.000004
7         5095k          1     0.000004
8         6043d          4     0.000014
9            6p         16     0.000057
10        702so          1     0.000004
11          706          3     0.000011
12         708g          1     0.000004
13         709a          1     0.000004
14       7_plus          2     0.000007
15        8030y          1     0.000004
16       8_plus          2     0.000007
17        9002x          2     0.000007
18        9003x          3     0.000011
19        9007a          6     0.000021

С некоторыми корректировками, вызванными неполным переносом всех методов в API Pandas из родной библиотеки, задача принципиально была решена в том же виде, что и в нативном **pandas** с повторением всех процедур. Тот же результат получается с использованием **spark.sql** методов (ниже).

#### --- *PySpark* ---

In [37]:
# в переменной сохраним число записей в сгрупированном объекте 
unique_users_qty_s = df.groupBy('dev_key', 'device', 'user_id').count().count()

# датафрейм по п.1-4
s_df_1_4 = (
    df
    .groupBy('dev_key', 'device', 'user_id')
    .count()
    .select('dev_key', 'device', 'user_id')
    .groupBy('dev_key', 'device')
    .agg({'user_id' : 'count'})
    .toDF('dev_key', 'device', 'users_qty')
    .select('dev_key', 'device', 'users_qty')
    .withColumn('users_ratio', f.round(f.col('users_qty') / unique_users_qty_s, 5))
    .orderBy(f.asc('dev_key'))
)

s_df_1_4.show(20, truncate=False)

+-------+------+---------+-----------+
|dev_key|device|users_qty|users_ratio|
+-------+------+---------+-----------+
|0      |2pq93 |1        |0.0        |
|1      |2pyb2 |1        |0.0        |
|2      |4035d |2        |1.0E-5     |
|3      |5047d |6        |2.0E-5     |
|4      |5049w |1        |0.0        |
|5      |5050  |4        |1.0E-5     |
|6      |5050x |1        |0.0        |
|7      |5095k |1        |0.0        |
|8      |6043d |4        |1.0E-5     |
|9      |6p    |16       |6.0E-5     |
|10     |702so |1        |0.0        |
|11     |706   |3        |1.0E-5     |
|12     |708g  |1        |0.0        |
|13     |709a  |1        |0.0        |
|14     |7_plus|2        |1.0E-5     |
|15     |8030y |1        |0.0        |
|16     |8_plus|2        |1.0E-5     |
|17     |9002x |2        |1.0E-5     |
|18     |9003x |3        |1.0E-5     |
|19     |9007a |6        |2.0E-5     |
+-------+------+---------+-----------+
only showing top 20 rows

#### --- *SQL-методы* ---

* **метод объекта Spark-сессии**

In [38]:
# регистрируем таблицу как временную, чтобы драйвер видел её как SQL-таблицу
df.createOrReplaceTempView("1_4")

# запрос вынесем в отдельную переменную и будем использовать её как аргумент в методе
sql_expr = """
            WITH TMP_GR AS
            (SELECT dev_key, device, user_id
            FROM 1_4
            GROUP BY dev_key, device, user_id
            ORDER BY dev_key ASC)
            
            SELECT dev_key, device, COUNT(user_id) AS users_qty,
                   ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM TMP_GR), 5) AS users_ratio
            FROM TMP_GR
            GROUP BY dev_key, device
            ORDER BY dev_key ASC
            """

s_sql_df_1_4 = spark.sql(sql_expr)
s_sql_df_1_4.show(20, truncate=False)

+-------+------+---------+-----------+
|dev_key|device|users_qty|users_ratio|
+-------+------+---------+-----------+
|0      |2pq93 |1        |0.0        |
|1      |2pyb2 |1        |0.0        |
|2      |4035d |2        |1.0E-5     |
|3      |5047d |6        |2.0E-5     |
|4      |5049w |1        |0.0        |
|5      |5050  |4        |1.0E-5     |
|6      |5050x |1        |0.0        |
|7      |5095k |1        |0.0        |
|8      |6043d |4        |1.0E-5     |
|9      |6p    |16       |6.0E-5     |
|10     |702so |1        |0.0        |
|11     |706   |3        |1.0E-5     |
|12     |708g  |1        |0.0        |
|13     |709a  |1        |0.0        |
|14     |7_plus|2        |1.0E-5     |
|15     |8030y |1        |0.0        |
|16     |8_plus|2        |1.0E-5     |
|17     |9002x |2        |1.0E-5     |
|18     |9003x |3        |1.0E-5     |
|19     |9007a |6        |2.0E-5     |
+-------+------+---------+-----------+
only showing top 20 rows

* **метод обектов pyspark.pandas.frame.DataFrame**

    Дополнительно сравним с выводом от метода `.sql()` объектов `pyspark.pandas.frame.DataFrame`. Учтём, однако, что обекты и переменные, передаваемые методу в строке должны быть явным образом перечислены наподобие аргументов для f-строк python.  
    
    Удобство состоит в том, что вывод осуществляется в привычном для датафреймов **Pandas** виде, а также в утилитарном способе использования SQL-запросов к датафрейму, минуя установку специализированных библиотек наподобии **SQLAlchemy** или **Psycopg2**.

In [39]:
sql_expr_pd = """
              WITH TMP_GR AS
              (SELECT dev_key, device, user_id
              FROM {pds_df}
              GROUP BY dev_key, device, user_id
              ORDER BY dev_key ASC)
            
              SELECT dev_key, device, COUNT(user_id) AS users_qty,
                     ROUND(COUNT(user_id) / (SELECT COUNT(*) FROM TMP_GR), 5) AS users_ratio
              FROM TMP_GR
              GROUP BY dev_key, device
              ORDER BY dev_key ASC
              """
ps.sql(sql_expr_pd, pds_df=pds_df).head(10)

   dev_key device  users_qty  users_ratio
0        0  2pq93          1      0.00000
1        1  2pyb2          1      0.00000
2        2  4035d          2      0.00001
3        3  5047d          6      0.00002
4        4  5049w          1      0.00000
5        5   5050          4      0.00001
6        6  5050x          1      0.00000
7        7  5095k          1      0.00000
8        8  6043d          4      0.00001
9        9     6p         16      0.00006

Результаты работы всех методов идентичны, все они отображены выше в учебных целях, в дальнейшем такой диапазон решеинй использоваться не будет.  

Стоит отметить, что пользователь, запустив **Spark**, получает "из коробки" возможность работы на API Pandas, SQL а также pySpark, что по широте возможностей, кажется, делает инструмент мощным и довольно безальтернативным.  

***

###  Задания 5-6. <a class="anchor" id="5.4"></a>  

#### --- *Pandas API* ---

- Сгруппируем данные и дополним витрину информацией о:

    ***5.*** *Количество совершенных действий для данного устройства.*  
    ***6.*** *Доля совершенных действий с данного устройства, относительно других устройств.*
   
Решение приводилось в соотв. разделе выше, переложим его на синтаксис **Spark**. В качестве напоминания: уникальми дейсвтиями будем считать непоторяющиеся варианты кодов в полях {'serv_answer_1', 'serv_answer_2'} для различных устройств, сгруппируем данные по этим полям и дате запроса для всех упомянутых устройств и подсчитаем количества вхождений.

In [40]:
# кол-во строк в группе, т.е. кол-во ответов сервера с различными 'serv_answer_1' и 'serv_answer_2'
unique_answers_qty = pds_df.groupby(['dev_key', 'serv_answer_1', 'serv_answer_2']).count().count()[0]

# датафрейм по п.5-6
pds_df_5_6 = (
    pds_df
    .groupby(['dev_key', 'device', 'serv_answer_1', 'serv_answer_2'])
    .any()['user_id']
    .reset_index()
    .groupby('dev_key')
    .agg({'device':'first', 'serv_answer_2':'count'})
    .rename(columns={'serv_answer_2':'actions_qty'})
)

pds_df_5_6['actions_ratio_1'] = unique_answers_qty
pds_df_5_6['actions_ratio_by_device'] = pds_df_5_6['actions_qty'] / pds_df_5_6['actions_ratio_1']
pds_df_5_6 = pds_df_5_6.drop(columns = 'actions_ratio_1')

pds_df_5_6.head(10)

/opt/tljh/user/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

        device  actions_qty  actions_ratio_by_device
dev_key
0        2pq93            1             7.770938e-07
1        2pyb2          139             1.080160e-04
2        4035d           26             2.020444e-05
3        5047d           83             6.449878e-05
4        5049w          137             1.064618e-04
5         5050           43             3.341503e-05
6        5050x            3             2.331281e-06
7        5095k           18             1.398769e-05
8        6043d           58             4.507144e-05
9           6p          145             1.126786e-04

#### --- *PySpark* ---

In [41]:
# в переменной сохраним число записей в сгрупированном объекте 
unique_answers_qty_s = df.groupBy('dev_key', 'serv_answer_1', 'serv_answer_2').count().count()

# датафрейм по п.5-6
s_df_5_6 = (
    df
    .groupBy('dev_key', 'device', 'serv_answer_1', 'serv_answer_2')
    .count()
    .select('dev_key', 'device', 'serv_answer_1', 'serv_answer_2')
    #.orderBy(f.asc('dev_key'), f.asc('serv_answer_1'), f.asc('serv_answer_2'))
    .groupBy('dev_key', 'device')
    .agg({'serv_answer_2' : 'count'})
    .toDF('dev_key', 'device', 'actions_qty')
    .withColumn('actions_ratio_by_device', f.round(f.col('actions_qty') / unique_answers_qty_s, 10))
    .orderBy(f.asc('dev_key'))
)

s_df_5_6.show(10, truncate=False)

+-------+------+-----------+-----------------------+
|dev_key|device|actions_qty|actions_ratio_by_device|
+-------+------+-----------+-----------------------+
|0      |2pq93 |1          |7.771E-7               |
|1      |2pyb2 |139        |1.08016E-4             |
|2      |4035d |26         |2.02044E-5             |
|3      |5047d |83         |6.44988E-5             |
|4      |5049w |137        |1.064618E-4            |
|5      |5050  |43         |3.3415E-5              |
|6      |5050x |3          |2.3313E-6              |
|7      |5095k |18         |1.39877E-5             |
|8      |6043d |58         |4.50714E-5             |
|9      |6p    |145        |1.126786E-4            |
+-------+------+-----------+-----------------------+
only showing top 10 rows

Решение получилось идентичным с результатом работы на **Pandas**. Продолжим выполнение оставшихся заданий с использованием **Spark**.

***

###  Задание 7. <a class="anchor" id="5.5"></a>  

#### --- *Pandas API* ---

- Ещё раз сгруппируем данные и дополним витрину данными о браузерах:

    ***7.*** *Список из 5 самых популярных браузеров, используемых на данном устройстве различными пользователями, с указанием доли использования для данного браузера относительно остальных браузеров.*
    
Комментарии к заданию остаются прежними: список самых полулярных браузеров для каждой модели устройств далеко не всегда будет состоять из 5 записей. Сгруппируем данные по полям 'dev_key' и 'browser', для исключения повторных названий поле 'user_id' добавлять в группировку не станем. Задание было несколько изменено: предлагается наряду с моделью и наименованием популярных на этом устройстве браузеров, выводить по кадому из них:
- количество использований (штук на данном устройстве),
- долю их применения от общего количества использований браузеров на данном устройстве,
- а также долю использования данного браузера от общего кол-ва применений.

In [42]:
# датафрейм по п.7

#  первичная группировка и преобразование ps.Series к ps.DataFrame (для удобства)
pds_df_7 = (
    ps.DataFrame(
        pds_df
        .groupby(['dev_key', 'device', 'browser'])
        .count()['date']
        )
)

# дополнения (временные таблицы) для слияния с df_7 и получения расчётных величин
pds_df_7_br_tot = pds_df_7.copy().reset_index().groupby('browser').agg({'date':'sum'})     #группир-ка по браузеру    
pds_df_7_br_tot['ratio_total'] = pds_df_7_br_tot['date'] / pds_df_7_br_tot['date'].sum()   #расчёт доли от общего

pds_df_7_br_by_dev = pds_df_7.copy().reset_index().groupby('dev_key').sum()                #группир-ка по устр-ву
                                                                                           #расчёт кол-ва применений

# объединения таблиц
pds_df_7 = (
    pds_df_7
    .reset_index(level=['device','browser'])
    .merge(pds_df_7_br_by_dev, how='left', left_index=True, right_index=True)
)

pds_df_7['ratio_by_device'] = pds_df_7['date_x'] / pds_df_7['date_y']

pds_df_7 = (
    pds_df_7
    .merge(pds_df_7_br_tot, how='left', left_on='browser', right_index=True)
)

# удаление лишних столбцов, переименование и перезапись индекса для идентичности отображения с df_7 
pds_df_7 = (
    pds_df_7
    .drop(columns = ['date_y', 'date'])
    .rename(columns = {'date_x' : 'usage_qty'})
    .reset_index()
    .sort_values(by = ['dev_key', 'device', 'browser'], ascending=True)
    .set_index(['dev_key', 'device', 'browser'])
)

pds_df_7.head()

                          usage_qty  ratio_by_device  ratio_total
dev_key device browser
0       2pq93  Chrome             1          1.00000     0.480323
1       2pyb2  Chrome           160          0.97561     0.480323
               parse_bot          4          0.02439     0.152727
2       4035d  Chrome            39          1.00000     0.480323
3       5047d  Chrome            84          0.84000     0.480323

#### --- *PySpark* ---

In [43]:
# датафрейм по п.7

#  первичная группировка и преобразование ps.Series к ps.DataFrame (для удобства)
s_df_7 = (
    df
    .groupby(['dev_key', 'device', 'browser'])
    .count()
    .orderBy(f.col('dev_key').asc())
)

# дополнения (временные таблицы) для слияния с df_7 и получения расчётных величин
s_df_7_br_by_dev = (                                               # группир-ка по устр-ву
    s_df_7                                                         # расчёт кол-ва применений
    .groupby(['dev_key','device'])
    .sum('count')
    .toDF('dev_key', 'device', 'sum')
    .orderBy('dev_key')
)

# объединение таблиц
s_df_7 = (
    s_df_7
    .join(s_df_7_br_by_dev, on=['dev_key', 'device'], how='left')
    .orderBy(f.col('dev_key').asc())
)

# создание новой колонки со значениями
s_df_7 = s_df_7.withColumn('ratio_by_device', f.col('count')/f.col('sum'))

s_df_7_br_tot = (                                      # группир-ка по браузеру
    df                                                 # расчёт доли от общего
    .groupby(['browser'])
    .count()
)

# добавление колонки с долей от общего кол-ва
tot_count = s_df_7_br_tot.select(f.sum('count')).collect()

s_df_7_br_tot = (
    s_df_7_br_tot
    .withColumn('ratio_total', f.col('count')/tot_count[0][0])
    .select(['browser', 'ratio_total'])
)

# объединение таблиц
s_df_7 = (
    s_df_7
    .join(s_df_7_br_tot, on=['browser'], how='left')
    .select(['dev_key', 'device', 'browser', 'count', 'ratio_by_device', 'ratio_total'])
    .orderBy(f.col('dev_key').asc(), f.col('count').desc())
)

s_df_7.show(10)

+-------+------+---------+-----+--------------------+-------------------+
|dev_key|device|  browser|count|     ratio_by_device|        ratio_total|
+-------+------+---------+-----+--------------------+-------------------+
|      0| 2pq93|   Chrome|    1|                 1.0|0.48032311322053495|
|      1| 2pyb2|   Chrome|  160|   0.975609756097561|0.48032311322053495|
|      1| 2pyb2|parse_bot|    4|0.024390243902439025|0.15272705034654813|
|      2| 4035d|   Chrome|   39|                 1.0|0.48032311322053495|
|      3| 5047d|   Chrome|   84|                0.84|0.48032311322053495|
|      3| 5047d|parse_bot|   16|                0.16|0.15272705034654813|
|      4| 5049w|   Chrome|  149|                 1.0|0.48032311322053495|
|      5|  5050|   Chrome|   40|  0.9302325581395349|0.48032311322053495|
|      5|  5050|parse_bot|    3| 0.06976744186046512|0.15272705034654813|
|      6| 5050x|parse_bot|    3|                 1.0|0.15272705034654813|
+-------+------+---------+-----+--------------------+-------------------+
only showing top 10 rows

<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
Пока что я не нашёл более простого способа обращаться к значениям переменных в Spark кроме как по индексам (tot_count[0][0]). Такой способ явно должен существовать в виде вызова того или иного метода, но возникающие ошибки не позволили разобраться и я обратился к тому методу, который работал надёжнее.
</div>

Одинаковый результат, транслируем методы и на последний пунтк задания.

***

###  Задания 8-9. <a class="anchor" id="5.6"></a>  

#### --- *Pandas API* ---

- Дополним витрину данными об ответах сервера: 

    ***8.*** *Количество ответов сервера, отличных от 200, на данном устройстве.*  
    ***9.*** *Для каждого из ответов сервера, отличных от 200, сформировать поле, в котором будет содержаться количество ответов данного типа.*  
    
По-прежнему нам достаточно будет сгруппировать датафрейм по ключам 'dev_key' и 'serv_answer_1' для строк, в которых значение ответа не равно 200, а также поститать такие вхождения.

In [44]:
# датафрейм для п.8-9 без строк с отвтеом 200

pds_df_8_9 = (
    ps.DataFrame(
        pds_df
        .loc[pds_df.loc[:, 'serv_answer_1'] != 200, :]
        .groupby(['dev_key', 'device', 'serv_answer_1'])
        .count()['serv_answer_2']
    ).rename(columns = {'serv_answer_2' : 'not200_answers_qty'})
     .sort_index()
)

# добавляем столбец с суммарным кол-вом ответов, отличных от 200
# метод .transform('sum') не поддерживает тот же функционал, что в pandas, надёжнее было объединить с пом. join
sum_by_device = (
    pds_df_8_9
    .reset_index()
    .groupby('dev_key')
    .sum()
    .sort_index()
)

pds_df_8_9 = (
    pds_df_8_9
    .reset_index()
    .set_index('dev_key')
    .merge(sum_by_device, how='left', left_index=True, right_index=True)
)

# меняем порядок следования столбцов, удаляем повторяющиеся, переименовываем
pds_df_8_9 = pds_df_8_9.drop(['serv_answer_1_y'], axis = 1)
pds_df_8_9 = (
    pds_df_8_9
    .rename(columns = {'serv_answer_1_x':'serv_answer_1', 'not200_answers_qty_y':'not200_sum_by_device'
                       , 'not200_answers_qty_x':'not200_answers_qty'})
    .reset_index()
    .set_index(['dev_key', 'device', 'serv_answer_1'])
    .reindex(columns=['not200_sum_by_device', 'not200_answers_qty'])
)

pds_df_8_9.head(10)

                              not200_sum_by_device  not200_answers_qty
dev_key device serv_answer_1
1       2pyb2  302                               2                   2
2       4035d  302                               8                   8
3       5047d  302                               2                   2
4       5049w  301                               2                   1
               302                               2                   1
5       5050   302                               1                   1
7       5095k  302                               1                   1
9       6p     302                               8                   1
               304                               8                   7
12      708g   302                               1                   1

#### --- *PySpark* ---

Для экономии времени в этом месте вызовем метод `.to_spark` к полученному выше датафрейму `pds_df_8_9`. Он позволит получить из `pyspark.pandas.frame.DataFrame` объект `pyspark.sql.dataframe.DataFrame` без длительных преобразований, т.е. не потребуется переисывание **Spark SQL**-методами кода, составленного на **Pandas API**. Учесть стоит необходимость указания индекса исходной таблицы для сохранения этой информации, а также использование **Spark**-actions для работы с полученным датафреймом (`.show()` и `.collect()`)

In [45]:
s_df_8_9 = pds_df_8_9.to_spark(index_col=['dev_key', 'device', 'serv_answer_1'])
s_df_8_9.show()

+-------+--------+-------------+--------------------+------------------+
|dev_key|  device|serv_answer_1|not200_sum_by_device|not200_answers_qty|
+-------+--------+-------------+--------------------+------------------+
|      1|   2pyb2|          302|                   2|                 2|
|      2|   4035d|          302|                   8|                 8|
|      3|   5047d|          302|                   2|                 2|
|      4|   5049w|          301|                   2|                 1|
|      4|   5049w|          302|                   2|                 1|
|      5|    5050|          302|                   1|                 1|
|      7|   5095k|          302|                   1|                 1|
|      9|      6p|          302|                   8|                 1|
|      9|      6p|          304|                   8|                 7|
|     12|    708g|          302|                   1|                 1|
|     17|   9002x|          302|                   1|                 1|
|     19|   9007a|          302|                   2|                 2|
|     20|    a 3g|          499|                   1|                 1|
|     21|   a0001|          304|                   2|                 1|
|     21|   a0001|          499|                   2|                 1|
|     23|  a1-713|          302|                   2|                 1|
|     23|  a1-713|          404|                   2|                 1|
|     24|a1-713hd|          301|                  32|                 2|
|     24|a1-713hd|          302|                  32|                17|
|     24|a1-713hd|          304|                  32|                11|
+-------+--------+-------------+--------------------+------------------+
only showing top 20 rows

***

По-прежнему в целях унификации можно объединить витрины по пунктам 1-6, датафреймы п.7 и п.8-9 получились разнородными, их имеет смысл рассматривать отдельно.

In [46]:
# объединим витрины п.1-4 и 5-6
s_df_1_6 = (
    s_df_1_4
    .join(s_df_5_6, how='left', on=['dev_key', 'device'])
    .toDF('dev_key', 'device', 'users_qty', 'users_ratio', 'actions_qty', 'actions_ratio_by_device')
)
print('Витрина данных по п.1-6 (фрагмент)')
s_df_1_6.show(10)

Витрина данных по п.1-6 (фрагмент)

+-------+------+---------+-----------+-----------+-----------------------+
|dev_key|device|users_qty|users_ratio|actions_qty|actions_ratio_by_device|
+-------+------+---------+-----------+-----------+-----------------------+
|      0| 2pq93|        1|        0.0|          1|               7.771E-7|
|      1| 2pyb2|        1|        0.0|        139|             1.08016E-4|
|      2| 4035d|        2|     1.0E-5|         26|             2.02044E-5|
|      3| 5047d|        6|     2.0E-5|         83|             6.44988E-5|
|      4| 5049w|        1|        0.0|        137|            1.064618E-4|
|      5|  5050|        4|     1.0E-5|         43|              3.3415E-5|
|      6| 5050x|        1|        0.0|          3|              2.3313E-6|
|      7| 5095k|        1|        0.0|         18|             1.39877E-5|
|      8| 6043d|        4|     1.0E-5|         58|             4.50714E-5|
|      9|    6p|       16|     6.0E-5|        145|            1.126786E-4|
+-------+------+---------+-----------+-----------+-----------------------+
only showing top 10 rows

In [47]:
# отобразим витрину по п.7
print('Витрина данных по п.7 (фрагмент)')
s_df_7.show(10)

# отобразим витрину по п.8-9
print('Витрина данных по п.8-9 (фрагмент)')
s_df_8_9.show(10)

Витрина данных по п.7 (фрагмент)

+-------+------+---------+-----+--------------------+-------------------+
|dev_key|device|  browser|count|     ratio_by_device|        ratio_total|
+-------+------+---------+-----+--------------------+-------------------+
|      0| 2pq93|   Chrome|    1|                 1.0|0.48032311322053495|
|      1| 2pyb2|   Chrome|  160|   0.975609756097561|0.48032311322053495|
|      1| 2pyb2|parse_bot|    4|0.024390243902439025|0.15272705034654813|
|      2| 4035d|   Chrome|   39|                 1.0|0.48032311322053495|
|      3| 5047d|   Chrome|   84|                0.84|0.48032311322053495|
|      3| 5047d|parse_bot|   16|                0.16|0.15272705034654813|
|      4| 5049w|   Chrome|  149|                 1.0|0.48032311322053495|
|      5|  5050|   Chrome|   40|  0.9302325581395349|0.48032311322053495|
|      5|  5050|parse_bot|    3| 0.06976744186046512|0.15272705034654813|
|      6| 5050x|parse_bot|    3|                 1.0|0.15272705034654813|
+-------+------+---------+-----+--------------------+-------------------+
only showing top 10 rows

Витрина данных по п.8-9 (фрагмент)

+-------+------+-------------+--------------------+------------------+
|dev_key|device|serv_answer_1|not200_sum_by_device|not200_answers_qty|
+-------+------+-------------+--------------------+------------------+
|      1| 2pyb2|          302|                   2|                 2|
|      2| 4035d|          302|                   8|                 8|
|      3| 5047d|          302|                   2|                 2|
|      4| 5049w|          301|                   2|                 1|
|      4| 5049w|          302|                   2|                 1|
|      5|  5050|          302|                   1|                 1|
|      7| 5095k|          302|                   1|                 1|
|      9|    6p|          302|                   8|                 1|
|      9|    6p|          304|                   8|                 7|
|     12|  708g|          302|                   1|                 1|
+-------+------+-------------+--------------------+------------------+
only showing top 10 rows

***

### Вывод.


Витрины данных получены различными способами, но, будучи построенными разными инструментами, все показывают одинаковую информацию.

Для дальнейшей работы лишь остановимся на витринах вида `pyspark.sql.dataframe.DataFrame`, поскольку **Pandas API** пока просто не имеет такого многообразия методов ввода-вывода для `pyspark.pandas.frame.DataFrame`, как **Spark SQL**. Например в части выгрузки витрин в SQL-Базы Данных. (Хотя имеющиеся методы pandas API вполне обширны и достаточны, получаемые файлы можно "подключать" к используемому ПО уже с помощью "внешних" операторов.)

***


## 6. Load.   <a class="anchor" id="6"></a>  

Результат всех способов преобразования получается одинаковый, в этом смысле разницы, какой из них выбирать - нет. Попробуем на данном спектре вариантов решения разобраться с трансляцией полученного результата в базы данных, а также с записью и хранением в Hive и HDFS.

<div class="alert alert-info">
<b>Комментарий:</b>
<br>
<br>
В разделах ниже видно, что эта часть работы вышла "кривой" и нуждается в улучшениях, т.к. на сервере, где выполнялась работа, некоторые этапы реализовать не удалось. Написаный раздел работы удалять при этом рука не поднималась и он сохранился для наглядности. 
    
Смысл действий был довольно простым: 
- получив ответы на поставленные вопросы в виде вороха разнообразных датафреймов, мне хотелось попробовать не
  только их локальное хранение, но и транслировать результаты из Spark в БД напрямую,
- посмотреть, как меняется скорость обработки при записи/чтении из HDFS.
</div>


### Работа с базами данных.   <a class="anchor" id="6.1"></a>  

* **чтение из PostgreSQL**

    Чтение из базы данных с помощью **Spark** представляется простым, т.к. в метод `.read` передается минимум параметров (безопасность подключения и использования той или БД в данной работе не рассматривается), попробуем применить параметры подключения, выданные пользователям платформы 1Т перед началом работы.

In [48]:
# поищем, где могут лежать драйвера к postgreSQL
!whereis postgresql

postgresql: /usr/lib/postgresql /usr/share/postgresql

In [49]:
# настройка для работы с PostgrSQL
import os
os.environ

# какие-то пути из интернета, но всё-равно не известно, где в конечном итоге находятся драйверы
#os.environ['PYSPARK_SUBMIT_ARGS'] = '''--driver-class-path /usr/lib/postgresql/12/bin
#--jars /usr/lib/postgresql/12/bin pyspark-shell'''

environ{'SHELL': '/bin/bash',
        'JUPYTERHUB_API_TOKEN': '7531fa1f416340898a0991f549afb233',
        'JUPYTERHUB_BASE_URL': '/',
        'PWD': '/home/jupyter-morozov_evgeny',
        'LOGNAME': 'jupyter-morozov_evgeny',
        'JUPYTERHUB_SERVER_NAME': '',
        'HOME': '/home/jupyter-morozov_evgeny',
        'LANG': 'en_US.UTF-8',
        'JPY_API_TOKEN': '7531fa1f416340898a0991f549afb233',
        'JUPYTERHUB_SERVICE_PREFIX': '/user/morozov_evgeny/',
        'JUPYTERHUB_OAUTH_CALLBACK_URL': '/user/morozov_evgeny/oauth_callback',
        'INVOCATION_ID': '838b26b4092342d5a6e19ca3d5f221ee',
        'RUNTIME_DIRECTORY': '/run/jupyter-morozov_evgeny',
        'USER': 'jupyter-morozov_evgeny',
        'SHLVL': '0',
        'JUPYTERHUB_API_URL': 'http://127.0.0.1:15001/hub/api',
        'JUPYTERHUB_CLIENT_ID': 'jupyterhub-user-morozov_evgeny',
        'JUPYTERHUB_HOST': '',
        'JOURNAL_STREAM': '9:257035900',
        'PATH': '/opt/tljh/user/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin',
        'JUPYTERHUB_USER': 'morozov_evgeny',
        'JUPYTERHUB_ACTIVITY_URL': 'http://127.0.0.1:15001/hub/api/users/morozov_evgeny/activity',
        'OLDPWD': '/',
        'JPY_PARENT_PID': '3357951',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
        'PYARROW_IGNORE_TIMEZONE': '1',
        'SPARK_AUTH_SOCKET_TIMEOUT': '15',
        'SPARK_BUFFER_SIZE': '65536'}

~~~python
# последовательность вызовов на чтение из БД
(
    spark
    .read
    .format('jdbc')
    .option('url', 'jdbc:postgresql://146.120.224.166:5432/morozov_evgeny_db')
    .option('dbtable', 'db')
    .option('user', 'morozov_evgeny')
    .option('password', 'w*******')
    .load()
)
~~~

Код в работоспособное состояние привести не удалось, последовательность выше (как впрочем и ниже при попытке записи в БД) приводила к ошибкам.

***Выдаваемый код ошибки:***

~~~python
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
Cell In[33], line 3
      1 # последовательность вызовов на чтение из ДБ
      2 (
----> 3     spark
      4     .read
      5     .format('jdbc')
      6     .option('url', 'jdbc:postgresql://146.120.224.166:5432/morozov_evgeny_db')
      7     .option('dbtable', 'db')
      8     .option('user', 'morozov_evgeny')
      9     .option('password', 'w*******')
     10     .load()
     11 )

File /opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/readwriter.py:184, in DataFrameReader.load(self, path, format, schema, **options)
    182     return self._df(self._jreader.load(self._spark._sc._jvm.PythonUtils.toSeq(path)))
    183 else:
--> 184     return self._df(self._jreader.load())

File /opt/tljh/user/lib/python3.9/site-packages/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/utils.py:190, in capture_sql_exception.<locals>.deco(*a, **kw)
    188 def deco(*a: Any, **kw: Any) -> Any:
    189     try:
--> 190         return f(*a, **kw)
    191     except Py4JJavaError as e:
    192         converted = convert_exception(e.java_exception)

File /opt/tljh/user/lib/python3.9/site-packages/py4j/protocol.py:326, in get_return_value(answer, gateway_client, target_id, name)
    324 value = OUTPUT_CONVERTER[type](answer[2:], gateway_client)
    325 if answer[1] == REFERENCE_TYPE:
--> 326     raise Py4JJavaError(
    327         "An error occurred while calling {0}{1}{2}.\n".
    328         format(target_id, ".", name), value)
    329 else:
    330     raise Py4JError(
    331         "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332         format(target_id, ".", name, value))

Py4JJavaError: An error occurred while calling o2423.load.
: java.sql.SQLException: No suitable driver
	at java.sql.DriverManager.getDriver(DriverManager.java:315)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:107)
~~~

* **запись в PostgreSQL**

    Запись в базу данных с помощью **Spark** также не представляется сложной, в метод `.write` передаются соотв. аргументы для подключения и записи, нужно только учитывать, что метод `.write.format('jdbc')...` у датафреймов pandas API отсутствует и существует только для датафреймов `pyspark.sql.dataframe.DataFrame`.

В данной работе чтение и запись в итоге произведены не были, поскольку на сервере либо не были установлены драйверов БД, либо их местоположение осталось мне неизвестно.

~~~python
#  последовательность вызовов для записи в ДБ
(
    s_df_1_6
    #.repartition(3)   # просто для напомнинаия о партиционировании при записи в HDFS (к БД не имеет отношения)
    .write
    .format('jdbc')
    .mode('overwrite')
    .option('url', 'jdbc:postgresql://localhost:5432/morozov_evgeny_db')
    #.option('url', 'jdbc:postgresql://146.120.224.166:5432/morozov_evgeny_db')
    .option('dbtable', 'case_1_6')
    .option('user', 'morozov_evgeny')
    .option('password', 'w*******')
    .save()
)
~~~

***Выдаваемый код ошибки:***

~~~python
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
Cell In[34], line 3
      1 #  последовательность вызовов для записи в ДБ
      2 (
----> 3     s_df_1_6
      4     #.repartition(3)   # просто для напомнинаия о партиционировании при записи в HDFS (к БД не имеет отношения)
      5     .write
      6     .format('jdbc')
      7     .mode('overwrite')
      8     .option('url', 'jdbc:postgresql://localhost:5432/morozov_evgeny_db')
      9     #.option('url', 'jdbc:postgresql://146.120.224.166:5432/morozov_evgeny_db')
     10     .option('dbtable', 'case_1_6')
     11     .option('user', 'morozov_evgeny')
     12     .option('password', 'w*******')
     13     .save()
     14 )

File /opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/readwriter.py:966, in DataFrameWriter.save(self, path, format, mode, partitionBy, **options)
    964     self.format(format)
    965 if path is None:
--> 966     self._jwrite.save()
    967 else:
    968     self._jwrite.save(path)

File /opt/tljh/user/lib/python3.9/site-packages/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /opt/tljh/user/lib/python3.9/site-packages/pyspark/sql/utils.py:190, in capture_sql_exception.<locals>.deco(*a, **kw)
    188 def deco(*a: Any, **kw: Any) -> Any:
    189     try:
--> 190         return f(*a, **kw)
    191     except Py4JJavaError as e:
    192         converted = convert_exception(e.java_exception)

File /opt/tljh/user/lib/python3.9/site-packages/py4j/protocol.py:326, in get_return_value(answer, gateway_client, target_id, name)
    324 value = OUTPUT_CONVERTER[type](answer[2:], gateway_client)
    325 if answer[1] == REFERENCE_TYPE:
--> 326     raise Py4JJavaError(
    327         "An error occurred while calling {0}{1}{2}.\n".
    328         format(target_id, ".", name), value)
    329 else:
    330     raise Py4JError(
    331         "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332         format(target_id, ".", name, value))

Py4JJavaError: An error occurred while calling o2431.save.
: java.sql.SQLException: No suitable driver
	at java.sql.DriverManager.getDriver(DriverManager.java:315)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:107)
~~~

* **запись и чтение в реляционное хранилище Hive** 

    Запись в БД **Hive** не требует установки драйверов и похожа на запись в простой файл, с той разницей, что вместо метода `.save()` вызывается метод `.saveAsTable()`.

~~~python
# команды отрабатывали только с методом .save() на конце, но файл "улетал" в неизвестном направлении, видимо.
# в HUE найден не был, сам HUE тоже был доступен не каждый раз. Поэтому последовательность команд перенес в 
# markdown-ячейку.
(
    s_df_1_4
    .repartition(3)   # партиционирование при записи в HDFS
    .write
    .format('orc')
    #.partitionBy('device')
    .mode('overwrite')
    #.option('compression','gzip')
    .save('hdfs://localhost:9099/user/morozov_evgeny/')
)
~~~

In [50]:
! hadoop fs -ls

/bin/bash: hadoop: command not found

In [51]:
! hdfs dfs -ls -R hdfs://localhost:9099/user/morozov_evgeny/

/bin/bash: hdfs: command not found

Изначально казалось, что в данной сессии есть возможность писать в HDFS, но по всей видимости работа в 'local'-режиме не предусматривает такой возможности... 

*Отрицательный опыт - тоже опыт, удалять эту часть работы не станем, поскольку есть определённый потенциал к её решению и он может быть развит.  Поскольку начинания успехом не увенчались, то используем метод, зарекомендовавший себя как более отлаженный.*  

***

* **запись в metastore HIVE**

Ещё ранее (при обращении к данным посредством SQL-запросов и регистрации временных таблиц) в папке с запущенным проектом **Spark** создал директорию `./spark-warehouse` для хранения метаданных таблиц, в ней же Hive будет по умолчанию хранить созданные таблицы.  

Запишем получившиеся витрины и продублируем итоги в папку **"output_data"**, поскольку способы выше не дали желаемых результатов, такой способ также можно считать завершением этапа **LOAD** и выполнением работы.

In [52]:
#  вручную пропишем последовательность вызовов для записи в Hive
(
    s_df_1_6
    .repartition(3)   # оставил для напомнинаия о партиционировании при записи
    .write
    .format('parquet')
    #.partitionBy('device')
    .mode('overwrite')
    #.option('compression','gzip')
    .saveAsTable('case_1_6_parquet')
)
(
    s_df_7
    .repartition(3)
    .write
    .format('parquet')
    #.partitionBy('device')
    .mode('overwrite')
    #.option('compression','gzip')
    .saveAsTable('case_7_parquet')
)
(
    s_df_8_9
    .repartition(3)
    .write
    .format('parquet')
    #.partitionBy('device')
    .mode('overwrite')
    #.option('compression','gzip')
    .saveAsTable('case_8_9_parquet')
)

Заглянем в директорию spark-warehouse, там можно найти созданные папки вида `case_*_parquet` с партиционированными файлами витрин и файлом-флагом _SUCCESS, которые говорят об успешности записи бинарных файлов.

In [53]:
! ls -lh spark-warehouse/

total 12K
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  9 00:46 case_1_6_parquet
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  9 00:46 case_7_parquet
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  9 00:46 case_8_9_parquet

In [54]:
! ls -lh spark-warehouse/case_1_6_parquet/

total 92K
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 29K Jan  9 00:46 part-00000-7da88f6d-c1b3-4c13-98eb-97b2f754c66f-c000.snappy.parquet
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 29K Jan  9 00:46 part-00001-7da88f6d-c1b3-4c13-98eb-97b2f754c66f-c000.snappy.parquet
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 28K Jan  9 00:46 part-00002-7da88f6d-c1b3-4c13-98eb-97b2f754c66f-c000.snappy.parquet
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny   0 Jan  9 00:46 _SUCCESS

Для открытия файла можно использовать более быстрый (чем `.read.format().option().load()`) метод `spark.sql()` с соотв. запросом к указанной таблице, т.к. по всей видимости **Spark** настроен на работу c хранилищем Hive и обращается именно к нему. Обратимся к методу с использованием команд HiveQL и проверим готовность витрин.

In [55]:
# в языке Hive_QL есть команды для отображения таблиц БД 
spark.sql('show tables').show()

+---------+----------------+-----------+
|namespace|       tableName|isTemporary|
+---------+----------------+-----------+
|  default|case_1_6_parquet|      false|
|  default|  case_7_parquet|      false|
|  default|case_8_9_parquet|      false|
|         |             1_4|       true|
+---------+----------------+-----------+

In [56]:
# обратимся к Hive для загрузки
hivedf = spark.sql('SELECT * FROM case_1_6_parquet')
hivedf.show(10)
hivedf.printSchema()
print('Количество строк case_1_6_parquet =', hivedf.count())

+-------+--------------------+---------+-----------+-----------+-----------------------+
|dev_key|              device|users_qty|users_ratio|actions_qty|actions_ratio_by_device|
+-------+--------------------+---------+-----------+-----------+-----------------------+
|   2181|               s4700|       24|     9.0E-5|        153|            1.188953E-4|
|   3113|           sph-l720t|        2|     1.0E-5|         69|             5.36195E-5|
|   1887|               pc704|        2|     1.0E-5|         24|             1.86503E-5|
|   3249|             vsun h3|        1|        0.0|         83|             6.44988E-5|
|   3188|             trt-lx1|        1|        0.0|          1|               7.771E-7|
|   2074|redmi note 4 miui...|        1|        0.0|          5|              3.8855E-6|
|   2583|              selfie|       19|     7.0E-5|         93|             7.22697E-5|
|    560|            gt-s5670|        4|     1.0E-5|         13|             1.01022E-5|
|   2221|    samsung gt-s7270|        1|        0.0|         12|              9.3251E-6|
|   2999|           sm-t116nu|        8|     3.0E-5|        148|            1.150099E-4|
+-------+--------------------+---------+-----------+-----------+-----------------------+
only showing top 10 rows

root
 |-- dev_key: long (nullable = true)
 |-- device: string (nullable = true)
 |-- users_qty: long (nullable = true)
 |-- users_ratio: double (nullable = true)
 |-- actions_qty: long (nullable = true)
 |-- actions_ratio_by_device: double (nullable = true)

Количество строк case_1_6_parquet = 3381

Информация из партиционированной таблицы считана верно, размеры исходной и загруженной таблиц совпадают. Результат перед завершением скопируем в соотв. папку для хранения.

## 7. Вывод.   <a class="anchor" id="7"></a>

In [57]:
# в качестве иллюстрации
print('Работа завершена, останавливаем сессию.')
spark.stop()

Работа завершена, останавливаем сессию.

In [58]:
print('Полученные витрины данных и датафрейм с распарсенными логами в директории',
      '\033[1m' + 'output_data' + '\033[0m:')
! ls -lh ./output_data/

Полученные витрины данных и датафрейм с распарсенными логами в директории output_data:
total 112M
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  8 01:42 case_1_6_parquet
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  8 01:42 case_7_parquet
drwxr-xr-x 2 jupyter-morozov_evgeny jupyter-morozov_evgeny 4.0K Jan  8 01:42 case_8_9_parquet
-rw-r--r-- 1 jupyter-morozov_evgeny jupyter-morozov_evgeny 112M Jan  9 00:42 parsed_logs_df.parquet

Как говорилось выше: витрины данных получены различными способами, но, будучи построенными разными инструментами, все показывают одинаковую информацию. 

- Была предпринята попытка реализации логики обработки данных, условно принятых за "большие", последовательное формулирование целей работы и подбор инструментов для их реализаци заняли значительное время, но результат всё-таки был получен.  


- Таким образом была отработана возможность переноса методов **Pandas** в мир **Spark** и сделано их сопоставление как представителей разных "парадигм" вычислений: мира последовательных (хоть и в немалой степени оптимизированных) вычислений и распределенных/отложеных вычислений.Проведено натурное исследование взаимодействия программных платформ для обработки "больших данных".  


- В настоящее время, с включением **Pandas API** в состав low-level API **Spark**, количество способов обработки только возросло, но взаимодействие между библиотеками оказалось удивиельно "гибким" и "прозрачным". На скорости исполнения кода такие нововведения практически не сказываются, на мой взгляд, т.к. все оболочки (от Scala-shell и Python-shell до API SQL и API Pandas) в конечном счёте вызывают одни и теже методы движка **Spark** для работы с **RDD**, предварительно подвергаясь оптимизациям, что должно практически уравнивать методы.  


- Что касается хода выполнения работы: 

    - предварительное решение и приёмы работы c данными такого объёма отрабатывались в библиотеке **Pandas** и **Python** на сокращённых выборках, затем оптимизировались для сокращения потребления памяти (в меру понимания процесса и в учебных целях) и таким образом, хоть и не с первого раза, но всё же с помощью выделенного сервера удалось обработать файл логов целиком без разделения и последовательной обработки батчей. 
    - Затем решения воспроизводилось уже на платформе для работы с "большими данными", в качестве таковой был выбран фреймворк **Apache Spark**, показавший себя мощным и универсальным инструментом. 
    - Сравнение или обработка данных с помощью "НЕкластерных" фреймворков\библиотек вроде **Dask** или **Polars** не производилось (что, может быть интересно в последствии, т.к. они занимают некую промежуточную нишу между выбранными выше инструментами).